[2017-12-22 13:20] fniephaus opened #1 "Missing primitives"
### Integer Primitives (0-19)
- [x] 1: `primitiveAdd`
- [x] 2: `primitiveSubtract`
- [x] 3: `primitiveLessThan`
- [x] 4: `primitiveGreaterThan`
- [x] 5: `primitiveLessOrEqual`
- [x] 6: `primitiveGreaterOrEqual`
- [x] 7: `primitiveEqual`
- [x] 8: `primitiveNotEqual`
- [x] 9: `primitiveMultiply`
- [x] 10: `primitiveDivide`
- [x] 11: `primitiveMod`
- [x] 12: `primitiveDiv`
- [x] 13: `primitiveQuo`
-

[2018-02-09 14:05] fniephaus opened #2 "Squeak tests"
Current progress it printed to TravisCI log.

[List of all in-image tests](https://github.com/hpi-swa-lab/trufflesqueak/blob/d960a8007565e02ae1ce5c07dd3e7c4a1e1f3ac8/trufflesqueak/de.hpi.swa.trufflesqueak.test/src/de/hpi/swa/trufflesqueak/test/SqueakInImageTest.java#L43-L410).

[2018-02-09 14:08] fniephaus opened #3 "Missing plugins"
- [x] FloatArrayPlugin (progress see #5)
- [ ] LocalePlugin (in-complete, see #40)
- [x] MiscPrimitivePlugin (progress see #4)
- [ ] OSProcess (in-complete, see #39)
- [x] SocketPlugin
- [x] SqueakSSL
- [x] HostWindowPlugin
- [ ] Matrix2x3Plugin (in-complete, see #41)
...

[2018-02-17 15:02] fniephaus opened #4 "Missing MiscPrimitivePlugin primitives"
- [x] `primitiveCompareString`
- [x] `primitiveCompressToByteArray`
- [x] `primitiveDecompressFromByteArray`
- [x] `primitiveFindFirstInString`
- [x] `primitiveFindSubstring`
- [x] `primitiveIndexOfAsciiInString`
- [x] `primitiveStringHash`
- [x] `primitiveTranslateStringWithTable`

[2018-02-18 11:00] fniephaus opened #5 "Missing FloatArrayPlugin primitives"
- [x] `primitiveAddFloatArray`
- [x] `primitiveAddScalar`
- [x] `primitiveAt`
- [x] `primitiveAtPut`
- [x] `primitiveDivFloatArray`
- [x] `primitiveDivScalar`
- [x] `primitiveDotProduct`
- [x] `primitiveEqual`
- [x] `primitiveHashArray`
- [x] `primitiveLength`
- [x] `primitiveMulFloatArray`
- [x] `primitiveMulScalar`
- [x] `primitiveNormalize`
- [x] `primitiveSubFloatArray`
- [x] `primitiveSubScal

[2018-02-21 12:56] fniephaus opened #6 "Missing LargeIntegersPlugin primitives"
- [x] primAnyBitFromTo
- [x] primDigitAdd
- [x] primDigitBitAnd
- [x] primDigitBitOr
- [x] primDigitBitShiftMagnitude
- [x] primDigitBitXor
- [x] primDigitCompare
- [x] primDigitDivNegative
- [x] primDigitMultiplyNegative
- [x] primDigitSubtract
- [x] primMontgomeryDigitLength
- [x] primMontgomeryTimesModulo
- [x] primNormalizeNegative
- [x] primNormalizePositive

[2018-02-21 13:10] fniephaus opened #7 "Optional primitives"
- [ ] 20: `LARGE_REM`
- [ ] 65: `NEXT`
- [ ] 66: `NEXT_PUT`
- [ ] 67: `AT_END`
- [ ] 80: `BLOCK_COPY` (deprecated)
- [ ] 81: `BLOCK_VALUE` (deprecated)
- [ ] 82: `BLOCK_VALUE_WITH_ARGS` (deprecated)
- [ ] 91: `TEST_DISPLAY_DEPTH`
- [ ] 92: `SET_DISPLAY_MODE`
- [ ] 93: `INPUT_SEMAPHORE`
- [ ] 95: `INPUT_WORD`
- [ ] 103: `SCAN_CHARACTERS`
- [ ] 104: `DRAW_LOOP`
- [ ] 122: `REVERSE_DISPLAY`
- [ ] 123

[2018-03-18 17:58] #7 closed, assigned to nobody

[2019-01-17 10:11] cmfcmf opened #20 "Ruby strings are different than Python/JS strings"
Calling `Polyglot eval: #python string: '"foo"'` yields `'foo'`, whereas `Polyglot eval: #ruby string: '"foo"'` yields `TruffleObject`.

[2019-01-22 15:24] cmfcmf opened #23 "FileChooser does not work"
The FileChooser dialog does nothing when pressing on the `ok` button (no error, no nothing):
![grafik](https://user-images.githubusercontent.com/2145092/51545314-03269800-1e62-11e9-8298-9feecd380fd6.png)
It works fine in normal Squeak. You can reproduce this behaviour with PolyJuS. Open a notebook and click Load -> From Disk.

[2019-01-23 17:23] #6 closed, assigned to fniephaus

[2019-01-30 15:49] johenning opened #27 "Mousewheel does not scroll"

[2019-01-31 09:47] johenning opened #30 "KedamaMorph new openInHand fails"
`Array>>elementsExchangeIdentityWith:` fails with primitiveFailed (primitiveArrayBecome)

[2019-02-05 12:23] johenning opened #32 "MorphicUIManagerTest>>testShowAllBinParts fails"
When the Thumbnail is not cached in PartsBin, `EventRecordingSpace>>initialize` is called, which eventually calls `GSMCodec>>primNewState`, which throws 'The SoundCodecPrims plugin is not available'

[2019-02-10 20:01] #5 closed, assigned to nobody

[2019-02-10 20:01] #23 closed, assigned to nobody

[2019-02-10 20:02] #32 closed, assigned to jneisener

[2019-02-10 20:03] #30 closed, assigned to jneisener

[2019-02-10 20:03] #27 closed, assigned to jneisener

[2019-02-10 20:04] #4 closed, assigned to fniephaus

[2019-02-10 20:07] #2 closed, assigned to nobody

[2019-02-21 13:51] johenning opened #35 "ClassBuilderTest>>testMoveVarFromSubToSuperclass fails"

[2019-02-21 14:55] fniephaus opened #37 "Implement image saving"
...which means we need to implement `primitiveSnapshot` (primitive 97).

[2019-02-21 14:58] fniephaus opened #38 "Add support for image segments"
...which means we need to implement `primitiveStoreImageSegment` (primitive 98) and `primitiveLoadImageSegment` (primitive 99).

For the image segment loading part, we should reuse existing infrastructure from the image reader (e.g. image chunks).

Similarly, the image segment storing part will probably share code with the image writer (once implemented, see #37).

[2019-02-21 15:00] #35 closed, assigned to jneisener

[2019-02-21 15:03] fniephaus opened #39 "Implement OSProcess plugins"
Only few primitives are implemented already (see [`AbstractOSProcessPlugin.java`](https://github.com/hpi-swa-lab/graalsqueak/blob/1fb28bedbc840cb9e92a16acdbc68fa9467a3220/src/de.hpi.swa.graal.squeak/src/de/hpi/swa/graal/squeak/nodes/plugins/AbstractOSProcessPlugin.java) and its platform-dependent subclasses).

[2019-02-21 15:06] fniephaus opened #40 "Implement LocalePlugin"
See `TODO`s in [`LocalePlugin.java`](https://github.com/hpi-swa-lab/graalsqueak/blob/1fb28bedbc840cb9e92a16acdbc68fa9467a3220/src/de.hpi.swa.graal.squeak/src/de/hpi/swa/graal/squeak/nodes/plugins/LocalePlugin.java).

[2019-02-21 15:07] fniephaus opened #41 "Implement missing Matrix2x3Plugin primitives"
See `TODO`s in [`Matrix2x3Plugin.java`](https://github.com/hpi-swa-lab/graalsqueak/blob/1fb28bedbc840cb9e92a16acdbc68fa9467a3220/src/de.hpi.swa.graal.squeak/src/de/hpi/swa/graal/squeak/nodes/plugins/Matrix2x3Plugin.java).

[2019-02-21 15:08] #3 closed, assigned to nobody

[2019-02-21 15:09] fniephaus opened #42 "Implement ClipboardExtendedPlugin"
See `TODO`s in [`ClipboardExtendedPlugin.java`](https://github.com/hpi-swa-lab/graalsqueak/blob/1fb28bedbc840cb9e92a16acdbc68fa9467a3220/src/de.hpi.swa.graal.squeak/src/de/hpi/swa/graal/squeak/nodes/plugins/ClipboardExtendedPlugin.java).

[2019-02-21 15:13] fniephaus opened #43 "Implement primitiveCalloutToFFI (primitive 120) and SqueakFFIPrims"
Only few [`SqueakFFIPrims`](https://github.com/hpi-swa-lab/graalsqueak/blob/master/src/de.hpi.swa.graal.squeak/src/de/hpi/swa/graal/squeak/nodes/plugins/SqueakFFIPrims.java) are implemented so far. We probably want to use [Truffle NFI](https://github.com/oracle/graal/tree/4c36087a6f70502ecfc42d81f0e95661a5a571c6/truffle/src/com.oracle.truffle.nfi/src/com/oracle/truffle/nfi) for this.

[2019-02-21 15:22] fniephaus opened #44 ""Trufflefy" BitBlt, B2D, and possibly other plugin ports"
Currently, [`BitBlt.java`](https://github.com/hpi-swa-lab/graalsqueak/blob/1fb28bedbc840cb9e92a16acdbc68fa9467a3220/src/de.hpi.swa.graal.squeak/src/de/hpi/swa/graal/squeak/nodes/plugins/BitBlt.java) and [`B2D.java`](https://github.com/hpi-swa-lab/graalsqueak/blob/1fb28bedbc840cb9e92a16acdbc68fa9467a3220/src/de.hpi.swa.graal.squeak/src/de/hpi/swa/graal/squeak/nodes/plugins/B2D.java) as well as othe

[2019-02-21 15:29] fniephaus opened #45 "Fix support for large call stacks and avoid StackOverflowErrors"
The first attempt to enable large call stacks by catching `StackOverflowError`s and throwing process switches does not work in some cases. Maybe we could use https://openjdk.java.net/jeps/270 to ensure a bytecode can be executed until the end (vs. being interrupted in the middle of execution by a `StackOverflowError`). Otherwise, we probably want to something similar to RSqueak and count stack fra

[2019-03-05 14:41] fniephaus opened #46 "GraalSqueak Component for GraalVM"
This would allow users to install GraalSqueak via [`gu`](https://www.graalvm.org/docs/reference-manual/graal-updater/). SimpleLanguage has [an example](https://github.com/graalvm/simplelanguage/tree/master/component).

[2019-03-08 14:44] johenning opened #47 "Constant opt cycles when running `LargePositiveIntegerTest>>testReciprocalModulo`"
Last line `ifFalse: [self should: [ a reciprocalModulo: b ] raise: Error]` causes deopts

[2019-03-11 14:34] fniephaus opened #49 "Constant deopts in ZipPlugin"
`dev` @ ac0a2dd8ddcafc5824d3d6dfbd0dc1304ed16cde, repro:
[code]

[2019-03-12 13:07] fniephaus opened #51 "Run GraalSqueak with libgraal"
[`libgraal`](https://github.com/oracle/graal/tree/master/compiler#libgraal) aims at decreasing warmup time. Let's see how GraalSqueak performs with `libgraal` once it is ready for showtime. For this, we need to uncomment:
https://github.com/hpi-swa-lab/graalsqueak/blob/132e56e61c5bd0fee30dad946b850319bf5dc729/mx.graalsqueak/mx_graalsqueak.py#L99

[2019-03-16 13:07] #49 closed, assigned to fniephaus

[2019-03-20 20:31] fniephaus opened #52 "Use TCK to test GraalSqueak's interop"
GraalSqueak's interop should be tested with [TCK](https://github.com/oracle/graal/blob/master/truffle/docs/TCK.md) soon, probably after migrating to interop 2.0.

[2019-04-08 11:41] #51 closed, assigned to nobody

[2019-04-08 11:48] fniephaus opened #53 "Reduce memory consumption"
For a 50MB Squeak image, GraalSqueak currently needs around 2.5-3.2GB of memory on my machine. GraalSqueak compiled with SVM uses around 700-900MB. Using VisualVM, I already identified a few things that can be improved in order to reduce memory usage:

- Only allocate FrameSlots that are actually needed (instances seem to be quite large)
- Ensure image loading code is completely GCed (and removed

[2019-05-02 13:42] johenning opened #56 "Some keys do not work"
On Windows:
- @ typed via german keyboard layout (Alt-Gr + q)
- ' typed with us international with dead keys

[2019-05-04 16:01] fniephaus opened #57 "BlockClosure>>bench no working correctly"
For some reason, `[ something ] bench` results in an endless loop.

@johenning has put together the following test for repro:
[code]

[2019-05-14 19:44] #46 closed, assigned to fniephaus

[2019-05-16 16:54] fniephaus opened #58 "PolyglotNotebook feature requests"
- Autosaving
- Line numbers
- Tab for indentation
- Linting

[2019-05-21 15:27] timfel opened #59 "Redirect context stdout and stderr to Transcript"
This can be done in the launcher, I can take care of this, just putting this here to remember

[2019-05-22 15:02] #59 closed, assigned to fniephaus

[2019-06-15 11:05] fniephaus opened #60 "`--headless` option not working"
Title says it all.

[2019-06-20 09:33] janehmueller opened #61 "Add java as a language to the available languages in the polyglot API"
The return value of `Polyglot availableLanguages` should also contain java (its language id).

[2019-06-20 09:36] janehmueller opened #62 "Add an API that returns icons for available languages"
Similar to `Polyglot languageNameOf: 'python'` a function `Polyglot languageIconOf: 'python'` that returns the icon as a form would be very convenient.

Currently the PNBCodeCellLabel has an instance function `iconFor: aLanguageID` that does exactly that, but that method should in a  more general class as a class method.

[2019-06-25 08:52] cmfcmf opened #63 "Retrying exceptions does not work like in normal Squeak"
This code returns 42 in normal Squeak, but `Object` in GraalSqueak:
[code]

I found this issue because `ExternalWebBrowserUnix class>>isCLibAvailable` unexpectedly returned `self` instead of a boolean:

[code]

[2019-06-26 13:25] janehmueller opened #64 "Debugging graalsqueak via --inspect causes lots of error messages"
When starting graalsqueak with the flag `--inspect` and then using the Chrome debugger, lots of the following error messages appear. The function at the beginning (`Heap>>downHeapSingle` in this case) changes, but the error messages is always the same. This happens on graalsqueak 0.8 as well as 0.8.4

[code]

[2019-06-26 15:01] milanpro opened #65 "Debugger in Polyglot Workspace freezes Image"
### Summary

Opening the debugger in a Polyglot Workspace context freezes the whole image.

### How to reproduce

1) Open Polyglot Workspace
2) type `1 halt`
3) Select and printIt

[2019-07-03 18:42] #62 closed, assigned to fniephaus

[2019-07-03 18:44] #52 closed, assigned to fniephaus

[2019-07-07 15:16] janehmueller opened #66 "PolyglotNotebook crashes when trying to display very long string containing non-US-ASCII character 226 in bindings view"
We store the contents of a csv file (188 MB) in a ruby Hash (pointing from filename to file contents). When this Hash is exported via the Polyglot API, it is displayed in the bindings view of the notebook. When clicking on the expand button for the Hash ForeignObject, the Graalsqueak image crashes with the stacktrace at the bottom of this issue.

When I try to convert this string to a python strin

[2019-07-24 15:36] janehmueller opened #68 "Polyglot Notebook throws errors when trying to display the result of a cell"
The following error appears when executing this simple command in a Ruby code cell:
[code]

![notebook_error](https://user-images.githubusercontent.com/12008040/61807117-32ca5300-ae39-11e9-83e8-589823a5a080.PNG)

This is caused in `PNBCodeCellOutput>>displayResult:`. The line
[code]
should be
[code]

[2019-07-28 11:13] #20 closed, assigned to fniephaus

[2019-08-04 17:43] #68 closed, assigned to fniephaus

[2019-08-05 14:30] #60 closed, assigned to fniephaus

[2019-08-05 14:30] #64 closed, assigned to fniephaus

[2019-08-05 14:30] #65 closed, assigned to fniephaus

[2019-08-05 14:30] #66 closed, assigned to fniephaus

[2019-09-04 07:36] fniephaus opened #70 "Deopt loop when running `20 timesRepeat: [10000 factorial]`"
Commit: 09a55c8430877071507fbd33e0c266532d3c3447

[code]

[2019-09-26 21:17] #53 closed, assigned to fniephaus

[2019-09-27 09:45] #61 closed, assigned to nobody

[2019-10-14 16:41] michelou opened #72 "ERROR: java.lang.NoClassDefFoundException on Windows"
Environment setup:
1) `C:\opt\graalvm-ce-19.2.0.1\` ([Github](https://github.com/oracle/graal/releases/tag/vm-19.2.0.1))
2) Manual installation of `graalsqueak-component-1.0.0-rc3-for-GraalVM-19.2.0.1.jar` ([Github](https://github.com/hpi-swa/graalsqueak/releases/tag/1.0.0-rc3))
3) Manual addition of Windows script `jre\languages\smalltalk\bin\graalsqueak.cmd` adapted from `jre\languages\smalltalk

[2019-10-14 16:42] michelou commented on #72
Issue fixed with commit [0741afd]

[2019-10-14 16:56] #72 closed

[2019-10-17 18:12] marschall opened #74 "Can not call overloaded array methods"
`java.util.Arrays#oString` is overloaded for every array type, I would like to call `java.util.Arrays#oString(byte[])` but this fails with

    'com.oracle.truffle.api.interop.UnsupportedTypeException: Multiple applicable overloads found for method name toString (candidates: [Method[public static java.lang.String java.util.Arrays.toString(boolean[])], Method[public static java.lang.String java.uti

[2019-10-17 19:58] fniephaus commented on #74
Same error occurs in Graal.js:
[code]

Still investigating ...

[2019-10-17 20:57] marschall commented on #74
I'm not sure that can be compared. JavaScript doesn't really have arrays let alone byte arrays. So I can understand that no method can be selected. Squeak on the other hand has `ByteArray`, `DoubleByteArray`, `FloatArray`, `IntegerArray` and `ShortIntegerArray` classes.

[2019-10-17 21:03] fniephaus commented on #74
Javascript does support typed arrays (e.g. `Uint8Array`). However, it looks like interop only checks if an [array has elements](https://github.com/oracle/graal/blob/690e6e543901fa7a319a85c1b357059692577a74/truffle/src/com.oracle.truffle.polyglot/src/com/oracle/truffle/polyglot/ToHostNode.java#L278) and does not consider it's type at all. I'll file a bug against Truffle.

[2019-10-18 08:16] fniephaus commented on #74
I've opened https://github.com/oracle/graal/issues/1759.

[2019-10-21 09:28] marschall opened #77 "#addToClassPath: always returns true"
`#addToClassPath:` always returns true even if the JAR file does not exist. I tested with 1.0.0-rc2 on macOs.

Use the following reproducer:

[code]

[2019-10-21 11:23] fniephaus commented on #77
Here's the implementation:
https://github.com/hpi-swa/graalsqueak/blob/9ce025f5f891a6369881551897e39a604cd6e617/src/de.hpi.swa.graal.squeak/src/de/hpi/swa/graal/squeak/nodes/plugins/PolyglotPlugin.java#L1166-L1173

[This is the Javadoc](https://www.graalvm.org/truffle/javadoc/com/oracle/truffle/api/TruffleLanguage.Env.html#addToHostClassPath-com.oracle.truffle.api.TruffleFile-). We could add a che

[2019-10-21 19:40] marschall commented on #77
Maybe we could check whether

[code]

there is however still a chance for a race condition

[2019-10-21 19:46] marschall opened #78 "Java <-> Squeak byte array conversion issues"
I'm struggling with passing byte arrays between Java and Squeak. The issue is that 0xFF is represented as 255 in Squeak and -1 in Java as Java only has signed bytes and bytes in Squeak are unsigned.

The following works:
[code]

but this fails

[code]

[2019-10-21 20:59] fniephaus commented on #77
Of course, a race condition would still be possible. To be fair, you can misconfigure your class path and add non-existing file without the VM complaining, right? So maybe you should rather do a check after calling `addToClassPath:` to ensure your class is there?

[2019-10-21 21:12] fniephaus commented on #78
Another interop bug, thanks for reporting! A fix is on the way:

![image](https://user-images.githubusercontent.com/2368856/67243590-96781280-f460-11e9-9211-f53625622a7c.png)

[2019-10-22 08:38] fniephaus commented on #78
A fix is on `dev` and will ship with the next release.

[2019-10-22 08:38] #78 closed

[2019-10-22 10:49] marschall commented on #77
On the command line? Yes you can. Though to be pedantic you can't add the the class path, only to a custom class loader, which is also what the Javadoc seems to imply.

Maybe, but the class could not be loaded for a different reason, like the superclass could not be loaded. Or you're in a generic part and don't know which class is supposed to be present.

However then the question remains what is

[2019-10-22 11:44] fniephaus commented on #77
That also means that a file exist check may not be sufficient (e.g. in case dependencies are missing).

I'm going to let the primitive return `self` for now. At the moment, the user must ensure it does what the user wants. If you have a better idea, we should discuss it with the GraalVM people. Maybe on Slack or in an issue on https://github.com/oracle/graal/issues.

[2019-10-24 09:30] fniephaus opened #80 "(Graal)Squeak image freezes on startup"
For some reason, Squeak images freeze on startup on @shingarov MacBook due to timing interrupts not firing. I have not found a way to reproduce this on my machine yet. Cuis images, however, seem to work fine.

[2019-10-27 19:44] fniephaus commented on #80
It appears to be a timezone-related bug in `PrimSignalAtUTCMicrosecondsNode`. The primitive is using the local time, rather than UTC time.

[2019-10-27 19:49] #80 closed

[2019-11-08 18:23] fniephaus opened #86 "Add CI build for Windows component"
As soon as `gu` is officially supported by GraalVM, we probably want to provide a GraalSqueak component for Windows. Travis CI supports [Windows as a build environment](https://docs.travis-ci.com/user/reference/windows/) and we have some scripts including [`make_component.bat`](https://github.com/hpi-swa/graalsqueak/blob/2c5d5d0abac68fac3948be5f6f26fc9512bf85e5/scripts/make_component.bat) that sho

[2019-11-10 17:04] mahsohn opened #87 "Manually built component is not recognized when running in eclipse"
I am trying to debug graalsqueak in eclipse, when I run make_component.sh and install it then try to run GraalSqueakLauncher I get the error "A language with id 'smalltalk' is not installed". When I install the component from the release it works fine, what is strange is that running "mx squeak" works with the custom component but not in eclipse. There seems to be some difference between the relea

[2019-11-10 17:22] fniephaus commented on #87
Hi @mahsohn,
I recommend against installing the component if you want to develop GraalSqueak, it's really only for users. Also note that you don't have to run GraalSqueak on GraalVM during development. Performance is reasonable if you just use an off-the-shelf JDK8. Besides, if `mx squeak` works for you, you should be able to run `mx -d squeak`, which starts the VM in debug mode. You can then conn

[2019-11-10 17:22] #87 closed

[2019-11-13 15:59] fniephaus opened #89 "Ideas and problems identified by fmateoc"
This is a tracking bug for the to-do list that @fmateoc put together in https://github.com/hpi-swa/graalsqueak/pull/88#issuecomment-553446156.

- [x] Setting up a Windows CI (https://github.com/hpi-swa/graalsqueak/issues/86)
- [x] Make timeouts a hard stop in CI testing
- [ ] Separate concerns in AbstractSqueakTestCaseWithImage
- [x] New PR with testcase and fix for process removal from lists
- [x

[2019-11-15 08:58] fniephaus commented on #86
[First Windows build job passing](https://travis-ci.org/hpi-swa/graalsqueak/builds/612085529), some cleanups are still needed but then we are good to go.

[2019-11-16 21:01] fniephaus commented on #86
GraalSqueak is now tested on Windows (see [here](https://travis-ci.org/hpi-swa/graalsqueak/builds/612911571)).

[2019-11-16 21:01] #86 closed

[2019-12-13 10:29] fniephaus opened #92 "BufferOverflowException in SqueakSSL plugin"
### Repro do-It
[code]

### Stack trace
[code]

Tested with GraalSqueak `1.0.0-rc6` (fb5f87b4045b05c964aae32526f2dded420c1d66) and GraalVM CE `19.3`.

[2019-12-13 12:50] c4f7fcce9cb06515 opened #93 "Crash when selecting "Contributors" in "About Squeak..." menu"
GraalSqueak crashes when selecting "Contributors" in "About Squeak..." menu

GraalSqueak-1.0.0-rc6.image
graalvm-ce-java8-19.3.0
Kubuntu Linux 19.10

[2019-12-13 13:46] fniephaus commented on #93
Thanks for the bug report. I can reproduce the issue on macOS. GraalSqueak exists with the following error:

So this looks like a control flow problem.

[2019-12-13 16:16] fniephaus commented on #93
A debugger is opened right before the crash:
![image](https://user-images.githubusercontent.com/2368856/70814667-394b6e00-1dcc-11ea-9e8d-76a7a974f748.png)

The root cause may therefore be something else...

[2019-12-16 11:11] fniephaus commented on #93
This will be fixed with the next release. Thanks again for the bug report!

[2019-12-16 11:11] #93 closed

[2019-12-28 20:30] fniephaus commented on #41
Done (see abf8c297e9af4f86cc654a3d3b9b9ec2eed12a0c).

[2019-12-28 20:30] #41 closed

[2020-01-08 09:04] fniephaus opened #94 "Merge changes from @fmateoc"
# Commits

- [ ] fix an initialization issue with the scheduled thread executor - it was final and it could not be replaced after a shutdown (https://github.com/fmateoc/graalsqueak/commit/9e5e73568e313caf9cc3aa365d690ca10a2a7912)
- [x] the context object info was looking at the method for its stack slots, instead of at the code object corresponding to the frame (potentially a block object) (https:

[2020-01-08 10:44] fniephaus commented on #94
I've done a full pass over all commits and cherry-picked the ones that were easy to integrate (see [`merge` branch](https://github.com/hpi-swa/graalsqueak/tree/wip/merge)). Some of these commits, I've cherry-picked onto separate branches, so I can run the benchmarks on them. The rest is too big to be reviewed/integrated now. I will have another look later this week.

[2020-01-09 14:27] fniephaus opened #95 "Simplify development process"
Now that GraalSqueak is released as components for the GraalVM updater, we no longer need to distinguish between `master` and `dev` branch.  Therefore, and to simplify our development process, I think it makes sense to drop the `dev` branch for now. So active development will happen on `master`, features will still be developed on feature branches. We should update the `README.md` accordingly.

[2020-01-09 14:30] #95 closed

[2020-01-09 21:21] fniephaus commented on #94
Closed in favor of #96.

[2020-01-09 21:21] #94 closed

[2020-01-16 16:06] Kolpa opened #100 "ifNil and isNil ifTrue have different behaviour on ForeignNil TruffleObjects"
Calling `foreginNilValue isNil ifTrue: [^'isNil']` works as expected and will return the `isNil` string.
Calling `foreginNilValue ifNil: [^'isNil']` will return the original `ForeginNil` object instead.

This is caused by the squeak compiler which produces an identity check on `ifNil` but not on `isNil ifTrue`.

[2020-01-16 18:32] #37 closed

[2020-01-22 22:30] fniephaus opened #101 "Handle literals of compiled methods correctly"
Apparently, literals of a method can be changed (e.g. via `#literalAt:put:`).  At the moment, however, they are [marked as `@CompilationFinal`](https://github.com/hpi-swa/graalsqueak/blob/1275ba82b2497c6c4f7476d5dc1b3becd73ecdac/src/de.hpi.swa.graal.squeak/src/de/hpi/swa/graal/squeak/model/CompiledCodeObject.java#L60). This could potentially cause weird problems when literals do change. To do this

[2020-01-27 17:13] fniephaus opened #102 "Support object pinning in native image"
Native image has [`PinnedObject`](https://github.com/oracle/graal/blob/c6974d2a188bf231229f6f1e177fc72f5a7e6a0f/sdk/src/org.graalvm.nativeimage/src/org/graalvm/nativeimage/PinnedObject.java), which could be used to implement object pinning.

[2020-01-31 12:11] fniephaus opened #103 "Look at PerformanceWarnings (again)"
Our context/materialization logic seems to confuse the Graal compiler about the class of the `frame` in some places.

Examples are

and

We might need to use a `ValueProfile` to help the compiler, [`SOMns`](https://github.com/smarr/SOMns/commit/9025ea4d4a63a60c5533bd2076e86e291419b6ae#diff-e90fc19c6dee539193f85eae32b8a32eR62-R64) is doing that as well.

[2020-01-31 14:55] fniephaus commented on #63
Fixed in `1.0.0-rc7` via https://github.com/hpi-swa/graalsqueak/commit/24c6d1eb251729b0d38dd18464aea1ca3322d4ab.

[2020-01-31 14:55] #63 closed

[2020-01-31 14:59] fniephaus commented on #47
This is still an issue in `1.0.0-rc7`:
[code]

[2020-01-31 15:03] fniephaus opened #104 "User interrupts do not trigger in tight loops"
GraalSqueak currently does not check for interrupts in case of back-jumps. Therefore, tight loops (without message sends) cannot be interrupted by the user.

Repro: `[ 1 + 1 ] bench`, then try to trigger a user interrupt.

[2020-01-31 15:04] fniephaus commented on #100
if(Not)Nil... methods are dropped from ForeignObject for now.

[2020-01-31 15:06] fniephaus commented on #70
Seems to be fixed, can no longer reproduce on `1.0.0-rc7`:
[code]

[2020-01-31 15:06] #70 closed

[2020-02-02 06:55] fmateoc commented on #56
I just tried to add a different language on Windows (Romanian, in addition to En-US).
After switching the input method to Romanian, the Windows programs would accept Romanian characters as per a Romanian keyboard, but Squeak itself did not. It displayed the special characters neither as per the Romanian keyboard nor as per the En-US keyboard. Anyway, this seems to be a Squeak bug, not a GraalSquea

[2020-02-02 06:58] fmateoc commented on #56
For a concrete example, the character ă is displayed instead of [ when the input method is Romanian (instead of En-US). In Squeak the same keypress is displayed as ?

[2020-02-02 14:55] fniephaus commented on #56
Thanks for looking into this. We should make sure that GraalSqueak provides the same input as the default Squeak VM, with priority for English of course. The rest should be addressed by the Squeak team.

Could you check that the most important special characters and modifier keys are handled as expected on Windows with en-US?

[2020-02-02 21:36] fmateoc commented on #56
actually, I did find a couple of bugs in the keyboard handling code, and the issue of Squeak printing ? is likely related to fonts (the character has the correct value 259 and the string is a WideString), so perhaps the fixes will help. Then again, the bug description is extremely terse and I don't understand it...

[2020-02-02 21:45] fniephaus commented on #56
No need to worry about the bug description, things got a lot better in the meantime. I was going to close this, because I think we fixed most issues and no one is complaining at the moment. But since I have limited access to a Windows machine, I just wanted to double check with you :)

[2020-02-02 21:59] fmateoc commented on #56
I just pushed a commit related to this

[2020-02-03 10:52] fniephaus commented on #56
Thanks, I cherry-picked your commit (https://github.com/hpi-swa/graalsqueak/commit/e371858fac17381e9ef0f10e1f5f2ee9800d01cd) and pushed https://github.com/hpi-swa/graalsqueak/commit/f6f6aa4da960cd97a7b52f28373e4771d6c1e12e. Closing this for now...

[2020-02-03 10:52] #56 closed

[2020-02-06 19:02] stefreschke opened #105 "Can't use ForeignObject>>#copy to copy objects that have no 'copy' member"
[code]
This throws an Error (Foreign object does not understand "copy"), because `ForeignObject>>#copy` calls `ForeignObject>>#'_dispatch:arguments:ifFail:'` with "copy" as member, which the ruby list does not have.

[2020-02-06 22:54] fniephaus commented on #105
Thanks for the report! What's the expected behavior? If Ruby lists don't implement copy, a debugger seems reasonable. Or would you want the object to behave like a Smalltalk object (actually performing a shallow copy)?

[2020-02-07 10:06] stefreschke commented on #105
Well, since ForeignObject offers a copy and deepCopy method respectively, it would be optimal to receive adequate (shallow) copies or deep copies of these ForeignObjects.

If there is no way to copy/deepCopy those objects language independently and the methods are only meant as a short cut to invoking "copy" members, the debugger is fine. It then reduces to raising awareness that the programmer hi

[2020-02-12 12:11] fniephaus commented on #105
BTW: Ruby lists can be copied with `#dup` or `#clone`.

[2020-02-13 16:17] fniephaus opened #106 "Crash in allInstances"
I'm afraid I only have a stack trace (forgot what the doIt was, but it worked the 2nd time for some reason IIRC):
[code]

Used version: GraalSqueak 1.0.0 rc7.

[2020-02-25 08:46] fniephaus opened #107 "Add support for #cannotInterpret:"
Send [`#cannotInterpret:`](https://github.com/hpi-swa/graalsqueak/blob/689babc00c320eebb0b51bf4ff4d02accc4ab039/src/de.hpi.swa.graal.squeak/src/de/hpi/swa/graal/squeak/model/layout/ObjectLayouts.java#L306) if methodDict is `nil` (see [SqueakJS](https://github.com/bertfreudenberg/SqueakJS/blob/13581caeb489875c4a39a78aa9d95866cc8892a5/vm.interpreter.js#L626-L633)).

[Here's some related info.](http:

[2020-02-25 17:14] #106 closed

[2020-03-16 18:25] Zenchess opened #108 "Cannot execute llvm code in polyglot workspace"
Hello.  I have graalsqueak running on linux, have installed all the 'gu available' packages for graalvm.  When I switch to LLVM in the polyglot workspace and try to execute the cell i get the following error:

Error: java.lang.IllegalArgumentException: Error evaluating the source.  The language llvm expects character based sources by default but a binary based source was provided.  Provide a chara

[2020-03-18 10:24] fniephaus commented on #108
Hi @Zenchess,
Thanks for opening this issue. I believe this is a usability issue/limitation of [Sulong](https://github.com/oracle/graal/tree/master/sulong), GraalVM's LLVM interpreter. The polyglot workspace lists all supported languages dynamically, and Sulong does not seem to accept "eval string" requests through the Polyglot API. "eval file", on the other hand, works fine.

I'm curious, what di

[2020-03-19 15:29] Zenchess commented on #108
I tried evaluating this c code example from some graalvm webpage:
[code]
If I remember correctly any input into the llvm mode of the workspace will give the same error.  (Pretty sure i tried something simpler but i'll test again to make sure )

Btw, if graalvm for windows finally gets llvm-toolchain support, does this mean that I could use a c++ or C game engine in graalsqueak (in windows)?

[2020-03-19 16:22] Zenchess commented on #108
I tried evaluating the same code as above in a file 'hello.c' and got the following error:
Polyglot eval: 'llvm' file: '/home/jacob/hello.c'

Error: com.oracle.truffle.llvm.runtime.except.LLVMParserException: The file
'/home/jacob/hello.c' is not a bitcode file nor an ELF or Mach-0 object file
with an embedded bitcode section.

Strangely, after trying to close the image, a new error popped up invo

[2020-03-19 17:09] fniephaus commented on #108
To run your example, you need to compile your C code to LLVM bitcode first:
[code]

Your should then be able to run the following in the workspace:
[code]

For more information, visit https://www.graalvm.org/docs/reference-manual/polyglot/.

Let me know if you need any further help!

[2020-03-19 17:17] fniephaus commented on #108
I should mention that we haven't done much with GraalSqueak and LLVM languages at this point, so you're one of the first to try this out! Please report any issues here (with steps to reproduce if you can), so we can fix them.

Also, the GraalVM knows about these usability issues in Sulong (the additional compilation step, the lack of support for `eval:string:`, etc...). Hopefully, things will impr

[2020-03-23 07:27] fniephaus opened #109 "Enable support for Java 11"
GraalSqueak works on Java 8 and Java 11, we should ship jars for both of them soon.

[2020-03-25 16:04] #109 closed

[2020-03-25 16:05] fniephaus commented on #109
The next release will come with components for Java 11.

[2020-04-12 19:22] arundilipan opened #110 "BufferOverflowException when running ensureRecentMetacello"
**Reproduction**

When running `graalsqueak GraalSqueak-1.0.0-rc8.image`, World>do>`Installer ensureRecentMetacello`.

**Error**

[code]

[2020-05-11 09:22] LeonBein opened #111 "Run TruffleSqueak Command still says "GraalSqueak""
In contrast to the README command for starting the image (`$GRAALVM_HOME/bin/trufflesqueak`), the image is still started with `$GRAALVM_HOME/bin/graalsqueak`.

Probably either the readme should be reverted until the command is updated or the command should be updated.

[2020-05-11 09:40] fniephaus commented on #111
Hi @LeonBein,
We've renamed the repository last night and are about to push a new release in the new few hours. Looks like you've decided to try TruffleSqueak in this very small window of consistency. Sorry for the inconvenience. Will be fixed with `1.0.0-rc9`.

[2020-05-11 09:40] #111 closed

[2020-05-11 13:28] LeonBein opened #112 "new ClassName() does not equal ClassName.new()"
In JavaScript, when calling `new ClassName()` on exported Smalltalk class named `ClassName`, the `initialize` function is not called unlike when `ClassName.new()` is called.

[2020-05-11 16:32] #112 closed

[2020-05-11 16:33] fniephaus commented on #112
Good catch! A fix is now in place and will ship with the next release.

[2020-05-14 12:52] LeonBein opened #113 "Support multi-parameter constructors like multi-parameter blocks"
I would like to create `new SmalltalkObject(43, "Foobar")` like  `new OtherLanguageObject(43, "Foobar")`

Therefore, parameterized constructor calls should be mapped to Smalltalk calls, e.g. to `with:with:...` like Block calls are mapped to `value:value:....`

[2020-05-29 06:04] fniephaus commented on #110
This looks like a duplicate of #92.

[2020-05-29 12:32] fniephaus opened #114 "Resolve messages to Smalltalk in a more compatible way"
Currently, all occurrences of `_` are simply replaced with `:` when a message is sent through interop to a Smalltalk object. This, however, implies it's always necessary that an identifier ends with `_` if arguments are supplied (example: `SmalltalkArrayClass.with_(42)`). We should make message resolution a bit smarter because it's clear that the Smalltalk selector needs to end with `:` with argum

[2020-05-29 12:33] fniephaus commented on #113
We discussed this offline: mapping constructor arguments to a magical call to `value:value:...` may not be intuitive and would lead to non-idiomatic Smalltalk code. More importantly, it is not clear whether `new SmalltalkArray(42)` should create an array with 42 (`#(42)`) or an array of size 42 (`#(nil nil ...)`). Therefore, I'd like to reject this proposal. Instead, #114 will be implemented soon.

[2020-05-29 12:33] #113 closed

[2020-05-29 16:13] #114 closed

[2020-05-29 16:15] fniephaus commented on #92
With https://github.com/hpi-swa/trufflesqueak/commit/65f683a301d8ecbcd0f01ca1205c0be1aa330b9f, the repro works fine on macOS. It's possible that the `BufferOverflowException` happens on Linux only.

[2020-06-04 08:58] fniephaus opened #115 "TruffleSqueak Assets"
This issue is used to collect assets (e.g. screenshots), so that they can be used in the `README.md` and in TruffleSqueak's documentation.

#### TruffleSqueak Logo
![trufflesqueak-readme](https://user-images.githubusercontent.com/2368856/83736775-67f72280-a652-11ea-9785-35c2a688c0fc.png)

[2020-06-04 08:59] #115 closed

[2020-06-05 11:40] fniephaus commented on #92
#110 looks like another problem. I'm going to close this one for now.

[2020-06-05 11:40] #92 closed

[2020-06-05 11:42] fniephaus commented on #89
Most of these and additional ideas have been implemented in the meantime. Thanks again for the contributions, @fmateoc!

[2020-06-05 11:42] #89 closed

[2020-06-12 10:51] fniephaus opened #116 "Support locals in polyglot shell / interactive mode?"
At the moment (20.1), each code execution request is execute in its own doIt context. This does not allow shared locals, but they should probably be supported. TruffleRuby uses interactive mode on `Source` to identify shell sessions and then shares locals. TruffleSqueak should probably do something similar.

#### Repro
[code]

Thanks to @LeonBein for reporting.

[2020-06-15 09:26] LeonBein opened #117 "Catching Errors in Polyglot Shell"
When running Smalltalk in the Polyglot Shell
When an error occurs, e.g. by simply running `1 shouldNotImplement`
The Shell freezes and in some cases even cannot be terminated with Ctrl+C

As a developer I would expect an error message to be printed to the Shell and then be able to use the Shell again.

[2020-06-15 09:32] LeonBein opened #118 "Showing Transcript in Polyglot Shell"
When running Smalltalk Code in the Polyglot Shell
When calling `Transcript showln: '...'`
No output is printed in the Shell except the return value (a TranscriptStream)

As a developer, I expect the output to be printed to the console to enable program feedback.

[2020-06-15 09:56] LeonBein commented on #118
As Transcript is considered a tool,
`FileStream stdout nextPutAll: 'foo'; cr;flush` is the standard solution

[2020-06-15 09:56] #118 closed

[2020-06-15 14:05] LeonBein opened #119 "UnsupportedSpecializationException in SqueakObjectHashNode"
[code]

[2020-06-15 14:25] fniephaus commented on #119
It turns out, https://github.com/hpi-swa/trufflesqueak/commit/c0ec3c2ee91f6f126c5fa96a976f18bcc7bc9a24 already fixed this. Thanks anyway for the bug report.

[2020-06-15 14:25] #119 closed

[2020-06-17 11:19] #117 closed

[2020-06-18 13:52] LeonBein opened #120 "Arity Error when calling forEach on Javascript Array"
`(Polyglot eval: 'js' string: '[2, 4, 5, 7, 2, 56, 1]') forEach: [:each | Transcript showln: each].`
Throws the following exception:
`Error: com.oracle.truffle.js.runtime.JSException: TypeError: execute on foreign object failed due to: Arity error - expected: 1 actual: 3`

It is unknown whether this is expected behavior or a bug.

[2020-06-24 09:55] #110 closed

[2020-06-24 17:51] ShirleyNekoDev opened #121 "Exception handling in 20.1.0"
When evaluating smalltalk files via Polyglot.evalFile('smalltalk', 'file.st') (in JavaScript ```polyglot --jvm main.js```), the execution fails with
[code]
with 'file.st' containing only ```a := 0.```.

In version 20.0.0 this did not happen.
Calling 'file.st' directly via ```polyglot --jvm file.st``` does not show this problem.

As a fix for this problem I can declare the variable before assigning

[2020-06-24 20:53] KenDickey opened #122 "JPEGReadWriter2 primop failure"
Current CuisSmalltalk (Linux/Amd64)

Tried to drag color swtach

![Cuis-PrimOpFailure](https://user-images.githubusercontent.com/3181168/85626510-03f8c600-b622-11ea-9047-8f3460e773b0.png)

--------------
primJPEGReadImage: aJPEGDecompressStruct fromByteArray: source onForm: form doDithering: ditherFlag errorMgr: aJPEGErrorMgr2Struct

	<primitive: 'primJPEGReadImagefromByteArrayonFormdoDitheringerr

[2020-06-24 20:58] KenDickey opened #123 "Cuis Smalltalk package fileIn broken"
looks like #become:

[cuis-fileIn-backtrace.txt](https://github.com/hpi-swa/trufflesqueak/files/4827871/cuis-fileIn-backtrace.txt)

Current Cuis Smalltalk (Linux/Amd64)
  FileList package fileIn

[2020-06-24 21:33] fniephaus commented on #123
Indeed...thanks for the report, Ken! I'll have a look.

[2020-06-25 00:40] KenDickey commented on #123
On 2020-06-24 14:33, Fabio Niephaus wrote:

Thanks for the UK talk today.  Great work!

I'm looking forward to the aarch64 version (I don't typically use
Intel/Amd).

Good to see a tool user.  I was very impressed by the visualization of
the specialization passes and the linkage to source code.

Good on ya,
-KenD

[2020-06-25 09:14] fniephaus commented on #123
Thanks a lot, Ken! I should give aarch64 a go soon.

How do I reproduce this issue? I thought I had to run `FileList package fileIn`, but that's not it. What did you run to trigger the crash? I have a fix, but would like to validate before pushing it.

[2020-06-25 11:40] ShirleyNekoDev commented on #121
Another stacktrace after inserting the variable declaration:
[code]

Inside a JS file after polyglot eval of smalltalk.

[2020-06-25 14:38] #122 closed

[2020-06-25 14:38] #123 closed

[2020-06-25 14:43] fniephaus commented on #123
A fix is now in place and will ship with the next release.

BTW: I managed to run [Cuis with TruffleSqueak on aarch64](https://twitter.com/TruffleSqueak/status/1276161202939404289). Now I only need to figure out how we can build TruffleSqueak for aarch64 on our CI infrastructure.

[2020-06-25 19:20] KenDickey commented on #123
On 2020-06-25 02:14, Fabio Niephaus wrote:

I have crashed several ways.

Easy is to
    trufflesqueak Cuis5.0-4191.image
World Menu -> Changes.. -> Install New Updates

Traceback attached.

BTW, I git cloned trufflesqueak

   git clone --depth 1 https://github.com/hpi-swa/trufflesqueak

and tried updating via

   gu -C gu-catalog.properties update smalltalk

but no joy.

How 2 check updates to ve

[2020-06-25 19:22] KenDickey commented on #123
On 2020-06-25 07:43, Fabio Niephaus wrote:

Very cool!!!  Let me know when to test.

-KenD

[2020-06-25 19:34] fniephaus commented on #123
Seems to work now:
<img width="1360" alt="image" src="https://user-images.githubusercontent.com/2368856/85786302-69d07500-b72a-11ea-8c6a-17f4473c81a1.png">

I'm afraid `gu -C gu-catalog.properties update smalltalk` will only give you the latest release, and we don't push a new release on each commit. So that means you'd need to build TruffleSqueak from master. Let me try to explain this in short f

[2020-06-26 14:49] KenDickey commented on #123
On 2020-06-25 12:35, Fabio Niephaus wrote:

Great!!

Hmmm..

/home/kend/trufflesqueak-build/graal/sdk/mxbuild/linux-amd64/trufflesqueak.image-bash
exists, but is empty.

Do I need a symlink to `which trufflesqueak` or some such?

Thanks a bunch!
-KenD

amd64:Linux:trufflesqueak-build >>> ls

mx  trufflesqueak
amd64:Linux:trufflesqueak-build >>> cd trufflesqueak/

amd64:Linux:trufflesqueak >>> ../m

[2020-06-26 15:00] fniephaus commented on #123
Hi Ken,
Please run this one first and make sure it works: ` ../mx/mx build`.
`Could not find 'sdk:GRAAL_SDK' in GraalVM` suggests that the graal dependency was not built, it looks like it's not even checked out (because `ls` only lists `mx` and `trufflesqueak`, there should also be a `graal` directory).
Once `mx build` succeeds, you should be able to build the component (and you don't have to run

[2020-06-26 19:39] KenDickey commented on #123
On 2020-06-26 08:01, Fabio Niephaus wrote:

Looks like it tries to rebuild the world .. and fails. (attached)

Probably not worth your time to debug this process remotely.

If you let me know when you do the next release I can test then.  I am
especially interested in Aarch64 Cuis.

Thanks again for all,
-KenD

amd64:Linux:trufflesqueak >>>  ../mx/mx build

JAVA_HOME: /home/kend/Downloads/GraalSqu

[2020-06-26 21:53] fniephaus commented on #123
It seems you're trying to build with GraalVM, but I'm afraid it can't bootstrap itself. So either use your system Java11 or this one: https://github.com/graalvm/labs-openjdk-11/releases/download/jvmci-20.1-b02/labsjdk-ce-11.0.7+10-jvmci-20.1-b02-linux-amd64.tar.gz

especially interested in Aarch64 Cuis.

You can watch this repository for "Releases only". Just click on the "watch" button next to th

[2020-06-27 02:16] KenDickey commented on #123
On 2020-06-26 14:54, Fabio Niephaus wrote:

Hmmm..  Have not used Java in a couple of decades.  [I remember when
it's claim to fame was that the entire environment fit on a floppy
disk].

amd64:Linux:~ >>> sudo apt-get install  openjdk-11-jre
Reading package lists... Done
Building dependency tree
Reading state information... Done
openjdk-11-jre is already the newest version (11.0.7+10-2ubuntu2~18.

[2020-06-27 09:17] fniephaus commented on #123
It usually should just work out of the box, did you set `JAVA_HOME=/home/kend/Downloads/GraalSqueak/graalvm-ce-java11-20.1.0` somewhere? It should be `JAVA_HOME=/usr/lib/jvm/openjdk-11-jdk` on your system I think.

[2020-06-28 12:56] LinqLover opened #124 "DropPlugin: Drag and Drop into image does not work"
Downloaded and installed TruffleSqueak today. Exciting project! But at least on Windows, I cannot drop a file into the image. Apparently, only `DragMove` events are generated, but `DragEnter`, `DragLeave`, and `DragDrop` are missing.

(If you have access, you might find the discussion in hpi-swa-lab/squeak#61 interesting, too.)

[2020-06-28 14:07] fniephaus commented on #124
Thanks for filing this issue, @LinqLover. DNDing files into the image is currently not supported, the [`ClipboardExtendedPlugin`](https://github.com/hpi-swa/trufflesqueak/blob/a5537415ad34da28ebe6527631518eaa949d9821/src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/plugins/ClipboardExtendedPlugin.java) is simply not implemented yet. It shouldn't be too hard to support it, let me kno

[2020-06-29 07:45] LinqLover commented on #124
This sounds definitively interesting, although I guess it will take me some more time since this is my first experience with the TruffleSqueak architecture at all. Can TruffleSqueak adapt plugins from the OpenSmalltalk-VM or does it completely rely on some kind of interface provided by the Graal VM? It's interesting to hear DND is connected to clipboard here; in OSVM, they use completely different

[2020-06-29 08:49] fniephaus commented on #124
Oh, looks like I mixed something up. DND is provided through the [`DropPlugin`](https://github.com/hpi-swa/trufflesqueak/blob/ad61ebfad57cc8527f8789a2bc2afb47fa8304f3/src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/plugins/DropPlugin.java#L25), and IIRC that was working a while ago. I hope this is the interface you were expecting. I should have another look on my system. Maybe it's

[2020-06-29 09:00] fniephaus commented on #124
Looks like I broke DND with https://github.com/hpi-swa/trufflesqueak/commit/61869694ef89d63af0192ddadd0202686e7f9b80?diff=unified#diff-94e14887428892fe45489070b0b83a73L436. I can reproduce with the following stack trace:

[code]

Let me push a fix....

[2020-06-29 09:04] #124 closed

[2020-07-03 11:23] LinqLover commented on #124
Yes, this looks much more like what I already knew from OSVM. Except that the Java implementation is much more beautiful to read! :-)

Great that you fixed it so fast. Can you give me a pointer how to install this patch on my machine? By reinstalling TruffleSqueak via the Graal VM Updater I only get the version "built on Jul 03 2020 13:18:29 CEST". Do I need to build from source in order to get th

[2020-07-03 11:28] fniephaus commented on #124
Yes, you have to wait for the next release or build from source. To do the latter, you have to run something like this:
[code]

[2020-07-08 09:29] LinqLover commented on #124
Thank you very much for your help! Actually, following your guide, in the second last line, it says `Could not find 'sdk:GRAAL_SDK' in GraalVM ('GRAALVM_C6C4856BB2_JAVA11')`; however with [these instructions](https://github.com/hpi-swa/trufflesqueak#building-from-source) I managed to build GraalSqueak and can confirm DnD works again! :-)

[2020-07-10 19:03] LinqLover opened #125 "DnD: Missing DragDrop event when dragging text into an image"
## Steps to reproduce
1. Open an image in TruffleSqueak (tested with TruffleSqueak 20.2.0-dev under Win32 + Linux/X11)
2. In the host system, select some text and drag it into the image

## Expected behavior
As Squeak does not support dropping text at the moment, it would be totally okay to reject the drop such as the OSVM implementation Win32 does do it (if you try to drag some text there, the wi

[2020-07-10 20:19] #125 closed

[2020-07-16 12:18] LeonBein opened #127 "Feature Request: Support classes in fileOut format"
When creating classes in Smalltalk Image and fileOut-ing them, the resulting format ist not one Smalltalk script file, but a fileOut-formatted .st file.
As a Smalltalk polyglot developer I would like to load classes by simply evaluating these files.

[2020-07-20 12:30] #127 closed

[2020-07-22 10:40] #116 closed

[2020-07-22 10:42] fniephaus commented on #121
Closed via https://github.com/hpi-swa/trufflesqueak/commit/db406532e10bd96ea0efe39eab92cc6417a73b70.

[2020-07-22 10:42] #121 closed

[2020-07-29 12:36] fniephaus commented on #103
Fixed with https://github.com/hpi-swa/trufflesqueak/commit/a55a6dabf198f54d79aca9fcaa48c264155e1e01.

[2020-07-29 12:36] #103 closed

[2020-08-16 11:07] fniephaus commented on #115
# Demo Screenshots

[![Live Plots with TruffleSqueak and ggplot2](https://user-images.githubusercontent.com/2368856/90331920-b319a400-dfb8-11ea-877d-e0505c8adf20.png)](https://twitter.com/fniephaus/status/1264839969115340800)

[![TruffleSqueak: Polyglot Notebooks (Demo)](https://user-images.githubusercontent.com/2368856/90332594-6c2ead00-dfbe-11ea-8e92-f3136ad6ca05.png)](https://www.youtube.com/wa

[2020-08-18 14:08] singpolyma-shopify opened #128 "Getting a bigger window?"
Runs fine, polyglot stuff is super cool!  But when I resize the "host" window the squeak environment stays the same size... how do I make it bigger?

[2020-08-18 16:41] fniephaus commented on #128
Thanks for reporting, @singpolyma-shopify! And sorry for the inconvenience.
If you resize the host window, the Squeak environment should be resized as well, which works fine on my MacBook. What OS and which version of TruffleSqueak and GraalVM are you using?

Thanks,
Fabio

[2020-11-18 17:38] janehmueller opened #129 "Weird ClassNotFoundException mentioning Intellij"
Using GraalVM 20.2.0 on MacOS Catalina (10.15.6) and having IntelliJ open with a Java project.
I was trying to instantiate Java classes in TruffleSqueak using `Java type: 'classname'` and at some point I noticed the following error message in my stdout. I'm not quite sure how to reprocude it.
[code]

[2020-11-19 13:15] janehmueller opened #130 "Can't instantiate TruffleSqueak Classes in Java 11"
Using GraalVM 20.2.0 on MacOS Catalina (10.15.6). When having TruffleSqueak open and trying the following command:
[code]
I get a Class not found error. This seems to be connected to the module system introducted in Java 9.

[2020-11-19 15:58] fniephaus commented on #130
It seems this is caused by the recently introduced "class path isolation".
More information at: https://www.graalvm.org/graalvm-as-a-platform/implement-language/

[2020-11-19 15:59] fniephaus commented on #129
Did this crash the image? Or just printed to stderr/stdout?

[2020-11-20 14:42] fniephaus opened #131 "Create TruffleSqueak standalone bundles"
It'd be good to have standalone bundles of TruffleSqueak (Linux/macOS/Windows), so that users can get started without having to know how to set up GraalVM and TruffleSqueak itself.

[2020-11-21 14:12] janehmueller commented on #129
It was just printed to stderr/stdout

[2020-11-30 12:33] fniephaus commented on #129
I think you're hitting this line:
https://github.com/hpi-swa/trufflesqueak/blob/4aa371a608bd73e9be1a6c65e727eb45370d23e8/src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/io/SqueakDisplay.java#L431

Could you please verify?

[2020-11-30 12:47] fniephaus commented on #129
I was able to reproduce and debug this. It's actually caused by:
https://github.com/graalvm/labs-openjdk-11/blob/e6d527daf65d565d52eefba34a6c94685b0fc26b/src/java.datatransfer/share/classes/java/awt/datatransfer/SystemFlavorMap.java#L404-L407

So not much we can do about this.

[2020-11-30 12:47] #129 closed

[2020-12-12 15:26] fniephaus commented on #128
I can't reproduce this. Please re-open if it is still an issue on your end.

[2020-12-12 15:27] #128 closed

[2021-01-19 11:56] fniephaus commented on #74
Maybe this could be helpful:

See [21.0.0 release notes](https://github.com/oracle/graal/blob/master/truffle/CHANGELOG.md#version-2100).

[2021-01-30 11:10] jirir commented on #131
This would be great. Even for advanced users the need for manual GraalVM setup is often a deal breaker.

[2021-01-30 20:03] jirir opened #132 "“graalvm-ce-java11-21.0.0” is damaged and can’t be opened"
On macOS 11.1

Executing:
/Applications/graalvm/graalvm-ce-java11-21.0.0/Contents/Home/bin/gu -C https://raw.githubusercontent.com/hpi-swa/trufflesqueak/master/gu-catalog.properties install smalltalk

says:
“graalvm-ce-java11-21.0.0” is damaged and can’t be opened. You should move it to the Trash.

[2021-01-30 20:19] fniephaus commented on #132
Have you followed the instructions to remove the quarantine attribute on macOS?
https://github.com/oracle/graal/issues/1724#issuecomment-539503007

[2021-01-31 02:17] jirir commented on #132
I see.
`sudo xattr -r -d com.apple.quarantine /path/to/graalvm`
makes it work.

[2021-01-31 02:26] jirir opened #133 "TruffleSqueakLauncher consumes 100–300% CPU on macOS"
Activity Monitor shows about 100–300% CPU taken by `TruffleSqueakLauncher` after running:
`/Applications/graalvm/graalvm-ce-java11-20.2.0/Contents/Home/languages/smalltalk/bin/trufflesqueak`

Also the windows movement inside the `TruffleSqueak-20.2.0.image` is rather slow.

macOS 11.1
MacBook Pro Retina 13 mid 2014, 3GHz Dual-Core i7, 16GB RAM

[2021-01-31 11:33] #132 closed

[2021-01-31 11:38] fniephaus commented on #133
Unfortunately, this is "normal" behavior. The load should go down after some seconds/minutes but will go up as you do more things in the Smalltalk environment. The reason for this is the Graal compiler "warming up" the environment in the background. You can see the compiler activity by running TruffleSqueak with "bin/trufflesqueak --engine.TraceCompilation".

[2021-01-31 11:38] fniephaus commented on #132
Glad to hear it's working now.

[2021-01-31 13:54] jirir opened #134 "Typing in a Rubby cell causes an Error"
1. Open /Applications/graalvm/graalvm-ce-java11-20.2.0/Contents/Home/bin/trufflesqueak
2. Open Polyglot notebook by clicking in the "PolyglotNotebook open" button
3. Set the cell to Ruby
4. Type a single character (i.e. 'a') in the cell.
–> error appears:
Error: org.truffleruby.language.control.RaiseException: cannot load such file -- rouge (LoadError)

Polyglot class(Object)>>error:
Polyglot clas

[2021-01-31 14:26] fniephaus commented on #134
If you have Ruby installed, the notebook system currently requires rouge to be installed (bin/gem install rouge) for syntax highlighting. We should turn this into a soft dependency at some point and hint the user to install rouge somehow.

[2021-01-31 15:32] jirir commented on #134
I did `sudo gem install rogue` but the error is still there. Perhaps `rogue` has to be installed somehow into the grallvm ..?

[2021-01-31 15:59] fniephaus commented on #134
You must use the "gem" binaries that comes with installing TruffleRuby, which is right next to bin/trufflesqueak.

[2021-01-31 16:42] jirir commented on #134
Even after
`/Applications/graalvm/graalvm-ce-java11-20.2.0/Contents/Home/bin/gem install rogue`
the error is still there.

The error appears also after typing into a Markdown cell. A message `Initializing ruby for polyglot text styler` appears shortly and then the error described above appears.

[2021-01-31 16:44] jirir commented on #134
The [TruffleSqueak standalone bundle](https://github.com/hpi-swa/trufflesqueak/issues/131) would be a god send👍🏻

[2021-01-31 17:09] fniephaus commented on #134
Did you restart TruffleSqueak after installing the gem?

[2021-01-31 18:45] jirir commented on #134
Yes. The TruffleSueak was restarted after installing the gem.

[2021-01-31 19:21] jirir commented on #134
I removed everything and started from scratch. But now the `rogue gem` will not install because:
`<internal:core> core/kernel.rb:234:in `gem_original_require': Library "/usr/lib/libSystem.B.dylib" does not exist. (RuntimeError)`

The process:
1. Download grallvm, untar and copy `graalvm-ce-java11-20.2.0` into `/Applications/graalvm/`
2. `sudo xattr -r -d com.apple.quarantine /Applications/graalvm/

[2021-01-31 20:20] fniephaus commented on #134
Sorry for the inconvenience. I'm afraid TruffleRuby 20.2.0 does not support macOS Big Sur, 21.0.0 does. We haven't done a TruffleSqueak release for 21.0.0 yet. But you can force-install TruffleSqueak on top of 21.0.0 via:
bin/gu install -f -u https://github.com/hpi-swa/trufflesqueak/releases/download/20.2.0/trufflesqueak-installable-java11-darwin-amd64-20.2.0.jar

[2021-01-31 22:26] jirir commented on #134
Ok :-)

1. GraalVM 21.0.0 in /Applications/graalvm/graalvm-ce-java11-21.0.0
2. `sudo xattr -r -d com.apple.quarantine /Applications/graalvm/graalvm-ce-java11-21.0.0`
3.  `/Applications/graalvm/graalvm-ce-java11-21.0.0/Contents/Home/bin/gu install ruby`
4. `/Applications/graalvm/graalvm-ce-java11-21.0.0/Contents/Home/bin/gem install rogue`
5. ERROR:  Loading command: install (RuntimeError)
	you may

[2021-02-01 08:42] fniephaus commented on #134
Hi @jirir,
I believe the only step you've missed is to call the following right after installing TruffleRuby:
[code]

This step is mentioned in the post installation notice of TruffleRuby. It needs to relink against your local openssl installation to function properly.

Good to hear that TruffleSqueak 20.2.0 works on GraalVM 21.0.0!

[2021-02-01 09:22] jirir commented on #134
Ok. Now `gem install rogue` complains about issuer certificates.

1. `$GRAALVM_HOME/languages/ruby/lib/truffle/post_install_hook.sh`
2. `$GRAALVM_HOME/bin/gem install rogue`

[2021-02-01 09:27] fniephaus commented on #134
Mh interesting... maybe try reinstalling TruffleRuby (remove it via `bin/gu remove ruby` and install it again). [Here](https://github.com/oracle/truffleruby/blob/master/doc/user/installing-libssl.md) are some additional information on libssl and TruffleRuby, but it seems `sudo port install openssl` should be supported.

As a workaround, you could also just disable rouge-based highlighting by chang

[2021-02-01 18:39] jirir commented on #134
This is a genuine nightmare adventure:-o
Giving up.

[2021-02-01 18:44] fniephaus commented on #134
I'm sorry to hear that. If you have any additional feedback (apart from that you'd like a bundle), please let me know.

It may be too late, but I'll try to finalize the TruffleSqueak release for 21.0.0 tomorrow.

[2021-02-02 11:25] fniephaus commented on #134
The [21.0.0 release](https://github.com/hpi-swa/trufflesqueak/releases/tag/21.0.0) is now available. I'm going to close this for now... please re-open if there's anything else I can help with.

[2021-02-02 11:25] #134 closed

[2021-02-02 11:29] fniephaus commented on #133
We've written some of the limitations up in the [TruffleSqueak paper](https://fniephaus.com/2019/mplr19-graalsqueak.pdf) and the GraalVM team is very well aware of these issues. There's not much we can do about this at this point, but we are confident that the situation improves in the future.

[2021-02-02 11:29] #133 closed

[2021-02-02 13:33] jirir commented on #134
With the `PolyglotTextyler>>style:language:` changed (actually syntax highligt turned off I guess) the 21.0.0 stack works. I hope I'll be finally able to try demos with ruby/python/smalltalk interchage.

[2021-02-02 13:40] fniephaus commented on #134
Great! If you'd like to reproduce our [polyglot notebook demo](https://gist.github.com/fniephaus/7cfa4aeceb3e0d3f49c82d2924516b2d), have a look at [the notes from our ECOOP20 Tutorial](https://docs.google.com/document/d/1w203zC4HaRhCbz4Hw5fUcwT0Z9-12_vEc_w-5iqpuVE/edit?usp=sharing). And feel free to ask any questions, here, [under discussions](https://github.com/hpi-swa/trufflesqueak/discussions),

[2021-02-02 15:58] jirir commented on #134
Too early to hope:-|

1. Do fresh 21.0.0 stack install
2. Open TruffleSqueak
3. Change `PolyglotTextStyler>>style:language:`

4. Type something in a Markdown cell
5. OK
6. Save and Quit
7. Open TruffleSqueak
8. Type something in a Markdown cell
9. Crash:

... about 240 lines of error messages.

[2021-02-02 16:01] fniephaus opened #135 "NullPointerException on notebook restart"
#### Reproducer

1. Do fresh 21.0.0 stack install
2. Open TruffleSqueak
3. Change `PolyglotTextStyler>>style:language:`

4. Type something in a Markdown cell
5. OK
6. Save and Quit
7. Open TruffleSqueak
8. Type something in a Markdown cell
9. Crash:

... about 240 lines of error messages.

_Originally posted by @jirir in https://github.com/hpi-swa/trufflesqueak/issues/134#issuecomment-771738009_

[2021-02-02 16:04] fniephaus commented on #134
Thanks for reporting the crash, I will try to reproduce and address the crash. In the meantime, please try again without changing `PolyglotTextStyler>>style:language:` (ensure that rouge is installed: `bin/gem install rouge`).

[2021-02-02 16:14] jirir commented on #134
Cannot get rogue installed. It complains about the SSL:

I thought I would ignore the complaining rogue with the `PolyglotTextStyler>>style:language:` modification and **get to the demo** :-)

[2021-02-02 16:33] fniephaus commented on #134
At this point, I'm afraid I can only make two suggestions:

1) Option

According to [this](https://github.com/oracle/truffleruby/blob/master/doc/user/installing-libssl.md#macports),

Is there any way you could install openssl via homebrew? I've been using homebrew and have never seen the error you reported. It may be a good idea to [open an issue against TruffleRuby](https://github.com/oracle/truf

[2021-02-02 16:44] fniephaus commented on #134
ERROR: You must add /OU=GlobalSign Root CA - R3/O=GlobalSign/CN=GlobalSign to your local trusted store

According to @eregon, this doesn't seem like a TruffleRuby issue, but an issue with your OpenSSL installation.
You may be able to install rouge via http, not https (this is obviously insecure and only a workaround):

[code]

[2021-02-02 16:47] fniephaus commented on #134
To check if it's an issue with your OpenSSL installation, you could run:
[code]
and see whether there are any verification issues.

[2021-02-02 18:19] fniephaus commented on #135
I can reproduce the issue. It turns out that the header of new compiled methods are not written correctly for some reason. I didn't hit this with my development image because for some reason, the preferred encoder was set to V3 and not Sista (the image was recompiled with Sista a while ago).

I will deploy a fix tomorrow...

[2021-02-02 18:46] eregon commented on #134
Note that the above should use the MacPorts openssl, so something like:
[code]

It seems clear that your MacPorts openssl is missing certificates, please fix that, otherwise nothing on the system using MacPorts openssl will work.

[2021-02-02 18:47] eregon commented on #134
`Updating SSL Certificates with MacPorts` from http://railsapps.github.io/openssl-certificate-verify-failed.html might be helpful to fix it.

[2021-02-08 03:45] yingsu00 commented on #132
@fniephaus @jirir I got the same problem. But running `sudo xattr -r -d com.apple.quarantine /path/to/graalvm` didn't help. I still get the error "graalvm-ce-java11-21.0.0” is damaged and can’t be opened". Anything else I can do?

[2021-02-08 08:37] fniephaus commented on #132
`/path/to/graalvm` must point to the *root* directory of your GraalVM installation. Are you sure you didn't run the command against the GraalVM *home* directory, which ends with `.../Contents/Home`?

[2021-02-10 07:57] yingsu00 commented on #132
@fniephaus  Yes
[code]
Not only the pop up window appears when I tried to run java, it also pops out from time to time
![Screen Shot 2021-02-09 at 11 55 44 PM](https://user-images.githubusercontent.com/33299678/107481037-63b0cc80-6b32-11eb-844d-55a7852267c2.png)

Anything else I can do? I tried to restart my mac and it's still the same. Please advise, thank you!

[2021-02-10 08:00] fniephaus commented on #132
You did run it against home and not the root, so try this:
[code]

Does it work now?

[2021-02-10 15:46] #135 closed

[2021-02-10 18:54] jvdsandt opened #136 "How can evaluate Smalltalk code from Java?"
I wrote a small test program to see if I can evaluate Smalltalk code from Java:

[code]

When I run this program I get a SecurityException telling me that the TruffleSqueak-21.0.0.image cannot be read. How can I fix this?

[2021-02-10 19:02] fniephaus commented on #136
Hi @jvdsandt,
Thanks for the report.

Could you provide the full error including a stack trace?

Please try again with `allowIO(true)` and if that doesn't work, try `allowAllAccess(true)`.
Let me know how it goes!

[2021-02-10 20:41] jvdsandt commented on #136
Hi,

Yes, just adding allowIO(true) makes it work. Thanks!

If I want to use another Smalltalk image. How could I do this?

[2021-02-10 20:48] fniephaus commented on #136
Great, thanks for the update. Nonetheless, I should have a look why `allowIO(true)` is required to access the bundled image.

You should be able to pass in a path to an image by setting `smalltalk.imagePath` when building the context. Here's how it's done in TruffleSqueak's tests:

https://github.com/hpi-swa/trufflesqueak/blob/d3534fec2b07e20829ac7fe1d52b637321393e24/src/de.hpi.swa.trufflesqueak.t

[2021-02-10 22:50] yingsu00 commented on #132
Oh this worked! Thank you Fabio! @fniephaus

[2021-02-11 08:46] fniephaus commented on #132
Glad it's working now, I hope the GraalVM team will eventually sign their bundles and get them notarized.

[2021-03-03 14:29] fniephaus commented on #136
I'm going to close this for now. Feel free to re-open if you have any follow up questions!

[2021-03-03 14:29] #136 closed

[2021-03-19 13:09] fniephaus commented on #115
# Talks

![Polyglot Programming with TruffleSqueak and GraalVM (HPI Symposium at SAP, 2021)](https://user-images.githubusercontent.com/2368856/111785173-8d40de80-88bc-11eb-82e8-bff9008638ad.png)

![Polyglot Notebooks with Squeak/Smalltalk on the GraalVM (ESUG 2019)](https://user-images.githubusercontent.com/2368856/111785181-903bcf00-88bc-11eb-8722-7ca7d0558a22.png)

[2021-03-22 19:22] janehmueller opened #137 "Inspecting a Java Array does not show the array elements"
When inspecting a Java Array (e.g., `object getClass getMethods`) the Inspector does not show the array elements, but it does show the size of the array:
![image](https://user-images.githubusercontent.com/12008040/112046390-436e2780-8b4c-11eb-9cc2-dc3097ec7800.png)

Using `self polyglotInspect` does not resolve this issue.

[2021-03-22 19:47] janehmueller opened #138 "Running Trufflesqueak for a long time causes the CodeCache to be filled"
If I run my TruffleSqueak image for a longer time (which increases performance due to the jit) I get the following warning:
[code]

[2021-03-22 20:00] janehmueller opened #139 "The class state between the Browser and what is execute sometimes becomes desynchronized"
Sometimes when editing code (in this case when changing the superclass of my class), the vm is executing code that was already removed in the browser. I get an exception/debugger that shows me method that I already deleted.

![image](https://user-images.githubusercontent.com/12008040/112050856-94cce580-8b51-11eb-8eb5-f08bdfc730fa.png)

[2021-03-22 20:11] janehmueller commented on #139
Committing the classes via git, deleting them and then checking the commit out (and thus re-adding the classes) fixed the issue

[2021-03-25 10:29] fniephaus commented on #137
Turns out this happens because @janehmueller was using an older Squeak image without the new Inspector APIs. Updating the image should fix this problem. Note that until 21.0.0.1, TruffleSqueak used a Squeak 5.3 image as base. I've upgraded the base image to a recent trunk image (see [here](https://github.com/hpi-swa/trufflesqueak/releases/download/21.0.0.1/TruffleSqueakImage-21.1.0-dev.zip)).

[2021-03-25 10:29] #137 closed

[2021-03-25 10:37] fniephaus commented on #138
Thanks, this needs to be monitored and reported to the GraalVM team. As the warning suggests, the cache size can be increased, for example via:

[code]

We might also want to experiment with the latency mode, which I think turns off inlining and splitting, which in turn should reduce compiled code sizes significantly:

[code]

You can also disable Truffle compilation entirely via:

[code]

The cod

[2021-03-29 10:52] fniephaus commented on #100
The problem here is that nil values from different languages should probably not be identical. Otherwise, there's no way to distinguish between Smalltalk `nil`, Java `null`, and Python `None`. Moreover, Javascript and other languages may have multiple nil-like values. Graal.js, for example, exposes both `null` and `undefined` as null values. I can't think of a better solution than using `foreignNi

[2021-04-12 14:52] fniephaus opened #140 "Revise new primitives"
Both, `SqueakObjectNewNode` and the `PrimNewNode`s cache the receiverClass in some cases:

https://github.com/hpi-swa/trufflesqueak/blob/a0f1de39da15d304958b89b326b8dad177344e44/src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/accessing/SqueakObjectNewNode.java#L74-L87

https://github.com/hpi-swa/trufflesqueak/blob/a0f1de39da15d304958b89b326b8dad177344e44/src/de.hpi.swa.trufflesquea

[2021-04-12 15:04] smarr commented on #140
If you don't mind the hacky bits, this is how TruffleSOM integrates your `#basicNew` into a dispatch chain: https://github.com/SOM-st/TruffleSOM/pull/56/commits/d2f04f3bf3de79fb13176d6566cf331577a4f8bc

Specifically this for the standard dispatch, similar for super:

https://github.com/SOM-st/TruffleSOM/pull/56/commits/d2f04f3bf3de79fb13176d6566cf331577a4f8bc#diff-e6ba7b4ffc50689737a20f2121025ae11

[2021-05-10 15:02] janehmueller opened #142 "When working with multiple Threads the method cache might encounter race conditions"
When working with multiple threads (e.g., Java Swing drawing thread) the method cache can encounter a race condition, where the lookup result of one thread is modified by another thread before it is returned. This can cause any kind of errror.

An example fix is here: https://github.com/hpi-swa-lab/trufflesqueak-java-ui/commit/49129896adc9b4fb4bef31eec6d078e696d429ff

[2021-05-10 15:05] janehmueller opened #143 "PolyglotInspector can't inspect hidden elements of large Arrays"
Large arrays are shortened in the Inpsector so that the head and tail are displayed and the middle part of the array is hidden by an ellipsis. When clicking on that ellipsis, one can enter and index to inspect. This works with the base Inspector, but with the PolyglotInspector, the element is not found.

![image](https://user-images.githubusercontent.com/12008040/117680867-da9d4600-b1b1-11eb-9724-

[2021-05-13 11:21] fniephaus commented on #143
Thanks! I've asked @LinqLover to take a look at this.

[2021-05-13 18:10] Hendekagon opened #144 "org.graalvm.polyglot.PolyglotException: java.awt.HeadlessException"
I get this when I run trufflesqueak in MacOS 11.2.3 with the GraalVM 21.1:

[trufflesqueak] Running Squeak/Smalltalk on GraalVM CE...
[trufflesqueak] Image loaded in 3418ms.
ERROR: java.awt.HeadlessException
org.graalvm.polyglot.PolyglotException: java.awt.HeadlessException
	at java.desktop/java.awt.GraphicsEnvironment.checkHeadless(GraphicsEnvironment.java:208)
	at java.desktop/java.awt.Window.<i

[2021-05-13 18:28] fniephaus commented on #144
How do you launch TruffleSqueak on your command line? According to your stack trace, TruffleSqueak tries to open a display, but fails because AWT is running in headless mode.

[2021-05-13 18:47] Hendekagon commented on #144
solved. For some reason the zsh session I was running graalvm in would always return `sun.java2d.HeadlessGraphicsEnvironment` for `java.awt.GraphicsEnvironment/getLocalGraphicsEnvironment` . The solution was to start a new terminal and it worked

[2021-05-13 18:47] #144 closed

[2021-05-13 20:01] fniephaus commented on #144
Good, glad it's working now!

[2021-05-14 14:31] LinqLover commented on #143
I just proposed a fix for Squeak Trunk, could you please confirm that it resolves the issue for you? :-)

[[squeak-dev] Changeset: fix-generic-inspectOne-with-truncation.cs](http://forum.world.st/Changeset-fix-generic-inspectOne-with-truncation-cs-td5129694.html)

The changeset will make its way into the Trunk as soon as someone approves and merges it ...

[2021-05-14 14:35] fniephaus commented on #143
Excellent, thanks @LinqLover! With the changeset, the polyglot inspector seems to work fine. Great!

[2021-05-14 14:40] LinqLover commented on #143
Great! Please feel free to merge the changeset into the Trunk if it looks good to you. :-)

[2021-05-14 14:43] fniephaus commented on #143
Let me leave this to @marceltaeumel. He might be the better reviewer as he's familiar with the code already.

[2021-05-31 20:33] fniephaus opened #145 "Add support for `ForeignDictionary`"
similar to how TruffleSqueak supports `ForeignArray`. This should work for objects that [`have hash entries`](https://www.graalvm.org/truffle/javadoc/com/oracle/truffle/api/interop/InteropLibrary.html#hasHashEntries-java.lang.Object-).

[2021-06-10 14:36] janehmueller opened #146 "HostExceptions in TruffleSqueak are difficult to inspect/debug"
When I get a HostException, I get a debugger showing me the primitive call where the exception occurred with only the exception name (`HostException`) as message. The root exception was an NPE, which has `nil` as its message. Additionally, `HostExceptions` are nested within each other with `HostObject` (not quite sure how this is structured).

It would be nice if I can view the stack trace of the

[2021-06-10 15:32] fniephaus commented on #146
It seems that guest languages are not allowed to see stack frames of host Java.
In the meantime, I've pushed support for interop exceptions in the PolyglotInspector via https://github.com/hpi-swa/trufflesqueak/commit/95f81e76b842b1548095889d93b3354cccf63f47.

[2021-07-09 09:37] fniephaus opened #147 "`(Interop getLanguage: self) getName` fails in a native-image compiled TruffleSqueak"
Title says it all.

[2021-07-09 14:14] #147 closed

[2021-07-20 14:52] fniephaus opened #148 "Class reshaping does not work reliably in `SqueakSUnitTest`"
In testing mode for `SqueakSUnitTest`, reshaping of classes does not always work reliably after TruffleSqueak packages were loaded/updated. For some odd reason, one method was not replaced with a newer version. This could be related to some mechanism (e.g. finalizers, caches, ...) used for class reshaping that is not active during this testing mode.

[2021-07-23 08:37] fniephaus commented on #104
Idea: ensure that interrupt handler is triggered in the presence of a loop without non-primitive sends.

[2021-08-12 10:15] fniephaus commented on #47
@eregon mentioned that there are new docs on how to debug deoptimizations:

[2021-10-28 00:17] janehmueller opened #150 "KeyboardEvents are not properly captured"
Listening in on  `KeyboardEvent>>sentTo:` via stdout/the transcript shows that TruffleSqueak captures keyboard events differently than Squeak.
The method for reference:
[code]
I listened in on the events using `Transcript show: 'Event ', self, ' for object ', anObject, ' has type ', type, String lf.`

Capturing keyboard events on Squeak showed:
[code]

and on TruffleSqueak (missing the keyDown and

[2021-10-31 20:59] #150 closed

[2021-11-01 13:57] janehmueller opened #151 "PolyglotInspector opens in RootProject and crashes image"
When I was in the RootProject and got an error, the PolyglotInspector opened itself automatically. The image then crashed with the following stacktrace:
[code]

[2021-11-04 21:13] janehmueller opened #152 "Empty ArrayObject stores ObjectStorage as int"
If I have an empty ArrayObject and call `getObjectStorage` on it, I get the following exception:
[code]

This seems to be caused by the storage object being an integer instead of an array. One has to use `size` first to check if the `ArrayObject` contains any elements. `getObjectLength` can not be used, since it also uses `getObjectStorage`

[2021-11-04 22:28] fniephaus commented on #152
This is expected behavior as TruffleSqueak implements [storage strategies](https://tratt.net/laurie/research/pubs/html/bolz_diekmann_tratt__storage_strategies_for_collections_in_dynamically_typed_languages/) to optimize guest language arrays. You are directly accessing the actual Java object representing the Smalltalk object without considering the optimization. The correct way to access ArrayObje

[2021-11-04 22:28] #152 closed

[2021-11-22 12:28] #151 closed

[2021-12-06 14:13] janehmueller opened #153 "ForeignObject does not support shallowCopy"
Trying to copy Smalltalk objects that hold references to ForeignObjects (e.g., host Java values) fails, since ForeignObject does not support `shallowCopy`.

An example where the ForeignObject is a Java enum:
![image](https://user-images.githubusercontent.com/12008040/144861089-e9b40a4d-7632-4330-bdbc-db71981edf53.png)

[2021-12-06 17:01] fniephaus commented on #153
Copying is not (yet) supported by the interop protocol. We've done some preliminary experiments with copying but need more use cases. Not all objects from other languages are copiable, so it's unclear what to do with them.

What do you expect from copying a Java enum? An error may be more intuitive than returning the same enum (although it's a singleton), right?

[2021-12-06 17:50] janehmueller commented on #153
The example could be better, that is true. In the case of singleton classes an error is probably the better choice than not copying the object (since that points at a design issue).

[2021-12-06 17:54] fniephaus commented on #153
Do you have other examples where copying should be supported?

[2021-12-07 02:00] janehmueller commented on #153
Another use-case is using the duplication halo functionality on morphs in addition to registering events on morphs that point to objects that transitively store foreign objects as instance variables.
Split up into parts my use-case/situation is as follows:
- To draw morphs, I register events, which include a callback symbol and receiver for that symbol.
- When drawing a morph, one can use the halo

[2021-12-07 19:34] fniephaus commented on #153
Ok good, here are some ideas for solving your issue:

1. `ForeignObject>>shallowCopy/deepCopy` could return `self`. This would essentially disable coping across languages without throwing errors. Easy to do, good for compatibility, but potentially dangerous and probably not what we want.
2. In Squeak, `#copy` is allowed to throw (see `TraitDescription>>copy` for example), so the `ForeignObject` co

[2021-12-09 17:27] janehmueller commented on #153
I agree. It sounds like option 4 is most sensible for me. I will try it out and report back (though it may take a while)

[2022-01-24 17:40] fniephaus opened #154 "Add support for Cuis-Smalltalk"
TruffleSqueak can run [Cuis-Smalltalk](https://github.com/Cuis-Smalltalk/Cuis-Smalltalk-Dev) images and many of its tests. Let's integrate Cuis so that it's easy to run on TruffleSqueak.

## Todos
- [ ] Provide an infrastructure allowing users to pick a Smalltalk image on first launch
- [ ] Run Cuis tests as part of TruffleSqueak's CI to catch bugs and regressions
- [ ] Port TruffleSqueak code to

[2022-01-28 14:26] jvuletich commented on #154
This is a great initiative! Let me comment a bit on your questions.

[2022-01-28 14:28] jvuletich commented on #154
_What Cuis base image should be used?_ At any point in time, the best image to use is the latest. In Cuis we do not maintain separate "stable" releases. So, when taking a snapshot of Cuis, just pull the repo, and run the Cuis?.?-????.image. Currently it is Cuis6.0-5031.image. Additionally, we push numbered updates more often than we save updated images. The latest updates are needed many times for

[2022-01-28 14:30] jvuletich commented on #154
_Which Cuis tests should/could/are safe to run on TruffleSqueak? Here's how they are executed._ Running BaseImageTests.pck.st as you are doing now is perfectly fine. If we find that we want to disable some tests for TruffleSqueak (for instance the 16bit jpegs), we'd mark them in some way in the official Cuis package, so they are skipped for TruffleSqueak.

[2022-01-28 14:35] jvuletich commented on #154
_How could the TruffleSqueak code be maintained for Cuis (needs to be kept in sync)?_ If possible, it would be best not to fork the code, but use the same for Cuis and Squeak. This requires FileTree support for Cuis, with the detail that Cuis FileTree should do cr<->lf conversions on load and save, so files follow the historical ST-80/Squeak cr file convention. Additionally, if some incompatibilit

[2022-03-02 11:04] fniephaus opened #155 "Maintain the entire stack in frame slots"
At the moment, TruffleSqueak uses the frame arguments and frame slots for the stack, which avoids copying from the args to the slots. This additional copying caused measurable overhead and so did the additional read/write slot operations. With Truffle's new indexed slots, the latter overhead should be reduced significantly. While copying will introduce some overheads again, we probably gain peak p

[2022-03-04 08:37] fniephaus commented on #155
You are probably referring to [this](https://github.com/oracle/truffleruby/blob/b8516082c2234665232f92392d69808d3a7fa9c7/src/main/java/org/truffleruby/language/arguments/RubyArguments.java#L160-L170). Yes, that's hacky.

I am not aware of any talks about such a compiler intrinsic but I'd certainly like to try something like that out.

While copying args into frame slots is not ideal, it "only" see

[2022-05-18 06:59] fniephaus commented on #155
It seems we no longer need to maintain the entire stack in frame slots to allow for bytecode OSR (see https://github.com/oracle/graal/commit/0499bfa9f45001e7087a70f09d64db1ff8fb740a). I've pushed a first sketch in https://github.com/hpi-swa/trufflesqueak/commit/7f360805da19d0deb6edcca695ba56780cb49456.

[2022-05-22 01:15] dram opened #156 "TruffleSqueak failed to launch Squeak6.0beta-21772 image"
Following error will be occurred when trying to launch Squeak6.0beta-21772 image in TruffleSqueak 22.1.0:

[code]

Which seems to be related to https://lists.squeakfoundation.org/pipermail/squeak-dev/2022-May/220659.html

[2022-05-22 01:32] dram opened #157 "Black box around cursor after change "Scale Factor" for Squeak6.0beta"
When running Squeak6.0beta-21768 image in TruffleSqueak, if "Extras > Scale Factor" is changed (e.g. 125%), there will be a black box around cursor.

![1](https://user-images.githubusercontent.com/517130/169674486-a9bd1bc5-4eb6-4ae5-8230-db43f338c9d0.png)

[2022-05-22 13:39] #156 closed

[2022-05-22 13:41] fniephaus commented on #156
Thanks for raising this and for the pointer, @dram. I've just pushed a fix for this to the `main` branch so support for images with the `68533` format will ship with the next release.

[2022-05-22 17:01] #157 closed

[2022-05-22 17:01] fniephaus commented on #157
Thanks for the report, @dram. I've also pushed a fix for this, which will ship with the next release.

[2022-05-23 11:41] fniephaus commented on #39
GraalPython provides different POSIX backends based on [`PosixSupportLibrary`](https://github.com/oracle/graalpython/blob/f086f809b46041d325d3814cced61f36371de84d/graalpython/com.oracle.graal.python/src/com/oracle/graal/python/runtime/PosixSupportLibrary.java). It'd be nice to use something similar in the future to implement `OSProcess` plugins, `SocketPlugin`, and maybe even others.

[2022-05-23 13:06] dram commented on #156
Fix confirmed, thanks!

[2022-05-23 13:06] dram commented on #157
Fix confirmed, thanks!

[2022-05-23 13:31] dram opened #158 "MNU occurred when compiling character literals in Squeak 6.0 beta image"
A MNU error will be occurred when compiling code contains character literals, e.g.:

[code]

I think it is related to https://lists.squeakfoundation.org/pipermail/squeak-dev/2022-March/219464.html and https://github.com/OpenSmalltalk/opensmalltalk-vm/issues/618

[2022-05-23 14:00] #158 closed, assigned to fniephaus

[2022-05-24 00:21] dram commented on #158
Fix confirmed, thanks!

With this fix, `TruffleSqueak-Core` and `TruffleSqueak-Support` can be loaded into Squeak 6.0 beta image now, and following code works with no problem:

[code]

[2022-05-24 00:41] dram opened #159 "Squeak 6.0 beta image can not be saved"
In TruffleSqueak, Squeak 6.0 beta image can not be saved, no error is displayed, neither in Squeak window, nor in the console.

[2022-05-24 14:09] dram commented on #159
Have a more close look at this issue, the saving process seems be stalled at `SmalltalkImage>>#processShutDownList:` in `SmalltalkImage>>#snapshot:andQuit:withExitCode:embedded:`.

And I found something suspicious, there is an extra process `Delay>>wait` in TruffleSqueak with 6.0 beta image, which does not exist in OpenSmalltalk VM, i.e.:

![image](https://user-images.githubusercontent.com/517130/

[2022-05-24 16:15] fniephaus commented on #159
Apparently, the semantics of [`Process>>#terminate` have changed a bit](http://lists.squeakfoundation.org/pipermail/squeak-dev/2021-December/217652.html). Maybe @LinqLover has an idea what could be going on.

[2022-05-24 18:00] isCzech commented on #159
Hi @LinqLover, all, it's been a year since the extended #terminate logic has been introduced :) Before digging deeper, could you please filein and check the latest #terminate version (attached) to see if anything changes? The trunk #terminate still contains some bugs which have been fixed in the latest enclosed version (expected to be merged into the release image).

And yes, the change in the #te

[2022-05-24 19:51] isCzech commented on #159
The change affects processes waiting on a Semaphore or Mutex; so far #suspend removed the waiting process from the semaphore or mutex and placed it in a run queue when resumed. That's a bug. Now, #suspend backs up the process's code before the wait so as a result the process returns to the same wait state when resumed.

Here's part of Eliot's comment for the revised #suspend:
	 "...If the given pr

[2022-05-24 22:30] isCzech commented on #159
I'm not familiar with TruffleSqueak but I've downloaded TruffleSqueakImage-22.1.0, used the latest VM version VMMaker.oscog-mt.3184 and tried two experiments:
1) updated the image via Squeak -> Update Squeak menu to the latest... saving works OK; then filed-in the two changesets attached above... again saving the image works OK
2) only filed-in the two changesets above to verify #terminate and #su

[2022-05-24 23:59] dram commented on #159
Hi @isCzech , sorry that I should give more details in the issue description.

This issue can be reproduced using TruffleSqueak VM with recent Squeak 6.0 images, following are detailed steps under Windows:

1. download `graalvm-ce-java17-windows-amd64-22.1.0.zip` from https://github.com/graalvm/graalvm-ce-builds/releases and unpack
2. download `trufflesqueak-installable-svm-java17-windows-amd64-22

[2022-05-25 00:38] dram commented on #159
Hi @isCzech ,

I have tried your two changesets, image saving works after applied!

But there is some other problem, for each time I do a saving, there will be an extra process created, following is a screenshot of Process Browser:

![image](https://user-images.githubusercontent.com/517130/170154026-4ef99428-daa5-4a02-8172-a9252d5f15f4.png)

[2022-05-25 06:45] fniephaus commented on #159
Thanks for checking, @dram! TruffleSqueak does not implement primitive 578 yet, so maybe that's why you get to see these additional processes. Let me try and push an implementation.

[2022-05-25 06:57] isCzech commented on #159
Hi @dram, I'm a bit confused now: you use Squeak6.0alpha-21736 and say later ones are not compatible. How did you test Squeak beta which is 21757 and later?
About the incompatibility: Again, I'm not familiar with TruffleSqueak; I understand you don't use OpenSamlltalkVM but GraalVM - is it possible the GraalVM somehow doesn't work correctly with the latest Squeak images? I mean even the not so lat

[2022-05-25 08:05] fniephaus commented on #159
I tried implementing primitive 578 (see https://github.com/hpi-swa/trufflesqueak/commit/b926e17dfa332ff24746f936bab0de6b25df02f2) but unfortunately, I still see stale processes when saving the image.

I just opened the `Cuis6.0-5171.image` with a TruffleSqueak built from https://github.com/hpi-swa/trufflesqueak/commit/b926e17dfa332ff24746f936bab0de6b25df02f2 and saving works just fine, without any

[2022-05-25 08:29] isCzech commented on #159
Well, I guess it means the extended #terminate logic itself is not the culprit... I'll try to follow @dram 's steps and see :)

[2022-05-25 11:33] isCzech commented on #159
Hi again, I can confirm I can reproduce the incorrect behavior (installed things as per steps 1 to 3, then for some reason step 4 didn't work at all - the image didn't start but I used TruffleSqueakImage 22.1.0 instead and updated the terminate method)
It's strange that the same Truffle/Squeak image works ok with the OpenSmalltalk VM and behaves incorrectly with the GraalVM, while at the same time

[2022-05-25 11:37] fniephaus commented on #159
Just in case you, @isCzech, are not aware: TruffleSqueak is an alternative Smalltalk VM implementation, so it's very likely that something on the VM level isn't working correctly. However, things used to work fine with older Squeak images and with Cuis images. I noticed that newly introduced `ProcessTest` crash TruffleSqueak, so I expect there to be at least a VM-level problem. But there's probabl

[2022-05-25 12:38] isCzech commented on #159
Hi @dram, thanks, I understand now. In the meantime I've come to a tentative conclusion there may be something wrong with the Squeak image other than the new termination logic. Not sure what though; it's possible fixing #terminate bugs may have unmasked some other issues - something Cuis has fixed or never suffered from. See above observations; I hope Juan (@jvuletich) could enlighten us why he ch

[2022-05-25 14:40] dram commented on #159
Hi @isCzech, when looking around code of `Process>>#terminate`, I find following line a bit suspicious:

[code]

According to the doc of `Context>>#runUntilErrorOrReturnFrom:`, the argument of it should be *a sender of self*, so I try to change this line to following, after that, image saving works without blocking:

[code]

There is some similar code in your patched version, i.e.:

[code]

Simila

[2022-05-25 15:38] LinqLover opened #160 "Incorrect keyboard handling on Windows"
So far, I stumbled upon the following keyboard gestures that are currently not supported in Windows:

- [ ] <kbd>Alt</kbd> + \<letter\> (e.g., for print it, do it, etc.)
- [ ] <kbd>Alt</kbd> + <kbd>Shift</kbd> + \<letter\> (e.g., for debug it, preferences, etc.)
- [ ] <kbd>Alt</kbd> + <kbd>.</kbd> or <kbd>Ctrl</kbd> + <kbd>.</kbd> for interrupt
- [ ] Qwertz layout specific:
  * [ ] <kbd>^</kbd> ,

[2022-05-25 15:45] LinqLover opened #161 "trufflesqueak-launcher: /usr/lib/x86_64-linux-gnu/libstdc++.so.6: version `GLIBCXX_3.4.26' not found"
I followed the installation instructions to install TruffleSqueak on my system:

Ubuntu 18.04
WSL1 on Windows 64 bit

After installing TruffleSqueak via `gu`, I cannot start it:

[code]

However, `libstdc++6` is installed:

[code]

What extra packages and which versions of them do I have to install to get TruffleSqueak running?

[2022-05-25 15:55] kolyaopahle commented on #161
As you are using wsl it might be worth a try to switch to a different os in wsl that supports the required glibc versions

[2022-05-25 16:19] LinqLover opened #162 "primitiveContextAt[put] (210/211) fail for stackp >= 16 in some situations"
Practical example to reproduce:

- Debug it: `Object newSubclass`
- Step Through
- ⚡ `Error: subscript is out of bounds: 16` from `Context>>at:put:` (`ClassBuilder>>superclass:subclass:instanceVariableNames:classVariableNames:poolDictionaries:category:` @ 93)

Minimal example to debug:

[code]

Interestingly, primitiveAt[Put] (60/61) still work in the situation.

[2022-05-25 16:45] LinqLover opened #163 "`UnsupportedSpecializationException`: Unexpected values provided for `ContextObjectWriteNodeGen` when creating `Context` instances manually"
Practical example to reproduce:

- Install/get an image with [SimulationStudio](https://github.com/LinqLover/SimulationStudio) (for instance, the image from [this bundle](https://github.com/hpi-swa-lab/squeak-tracedebugger/releases/tag/untagged-20220512-072554) should do it)
- Do it:
[code]
- Expected behavior: Answers `3`
- Actual behavior: crash (`UnsupportedSpecializationException`: Unexpected

[2022-05-25 16:57] fniephaus commented on #160
Are you sure <kbd>Alt</kbd> is not accidentally mapped to something else, like the <kbd>Win</kbd> key?

[2022-05-25 16:59] fniephaus commented on #161
I'm afraid TruffleSqueak is currently built on Ubuntu 20.04. I guess we could downgrade the runners to 18.04 but I'm not sure it's worth the effort. Maybe it's easy, maybe it's not depending on the dependencies :S

[2022-05-25 17:02] fniephaus commented on #162
I'm not sure I want to know how you found this but thanks for raising the issue! :)

So it seems that your dummy method forces a large frame and then primitiveContextAt[Put] fail, interesting. Is this blocking you on anything?

[2022-05-25 17:08] LinqLover commented on #160
Pressing <kbd>Alt</kbd> + <kbd>P</kbd> has the same effect as pressing just <kbd>P</kbd>. Every key that is pressed together with <kbd>Ctrl</kbd> + <kbd>Alt</kbd> or <kbd>AltGr</kbd> is completely ignored. Windows shortcuts work as usual.

By the way, there are further weird things going on. This is how the keyboard exerciser looks like after typing `aA1`:

![image](https://user-images.githubuserc

[2022-05-25 17:12] LinqLover commented on #161
Thank you for the pointers! glibc version 3.4.26 was indeed not listed here. Finally got it working with this guide: https://askubuntu.com/a/1328208/1140486

Maybe either this link or a short hint about missing compatibility should be added somewhere to the installation instructions? :)

[2022-05-25 17:14] fniephaus commented on #163
Thanks for raising the issue! So far, TruffleSqueak is quite constrained as to what you can do with `Contexts` because they are very performance-critical. Historically, we only added support for the things usually used by Squeak/Smalltalk and its tests and intentionally sprinkled bits and pieces that help us find new cases that need to be supported: e.g., there are lots of assertions and, as you f

[2022-05-25 17:22] LinqLover commented on #163
Thank you for the feedback!

Couldn't this check be moved into the interpretation of the return instructions? E.g., the VM-side equivalent of `blockReturnTop`/`methodReturnTop`. Or would this limit the performance as you mentioned?

I can only tell that the OSVM has survived all my attempts so far to install any invalid senders on the stack :D

[2022-05-25 17:22] fniephaus commented on #160
The root cause for all of this is that the OpenSmalltalkVM provides different events on different platforms and because of this, Squeak has covered this up on the image side. TruffleSqueak is very consistent because it's using Java AWT/Swing but that breaks on the image level. I guess you can tell that I don't use Windows much myself. Any contributions that makes this better are more than welcome.

[2022-05-25 17:26] LinqLover commented on #160
Thanks for the pointers. So I'm no longer confused that most of these shortcuts do not work in WSL/VcXsrv either. If the problem might be on the image side, I'll also talk with @marceltaeumel about it. :-)

[2022-05-25 17:33] LinqLover opened #164 "Missing `WindowEvent`s"
See `WindowEvent>>#type` for all types that in theory should be supported. At the moment, I could only reproduce `windowClose`, `windowIconise`, and `windowActivated`. In practice, `windowDeactivated` is optional but would be nice-to-have since it is used to update the in-image keyboard focus depending on the host system. Actually, even OSVM (at least for Windows) seems to handle the 4 mentioned e

[2022-05-25 17:36] LinqLover commented on #160
Hm ... maybe we should introduce a new "omniplatform" type on the image side? SqueakJS might benefit from that as well.

[2022-05-25 17:37] fniephaus commented on #164
Yep, that'd be good to support. However, I'm not sure supporting something that OSVM doesn't is a good idea. I can tell from experience that this can cause weird issues, especially when code gets activated that usually isn't used at all.

[2022-05-25 17:37] fniephaus commented on #160
Yes, that'd be nice!

[2022-05-25 18:55] isCzech commented on #159
I wonder if speed of the processing could have anything to do with it?

Anyway, if you let me know whether the fix works in all your scenarios, I'll send the fix to Squeak Inbox. Thanks

[2022-05-25 23:22] dram commented on #159
Hi @isCzech, I have a test of EventSensor-eventTickler patch, it seems that the stale process problem still exists.

Tests are taken in two environments:

- Debian Linux 11, TruffleSqueak (main branch), Squeak6.0beta-21772
- Windows 11, TruffleSqueak 22.1.0, Squeak6.0alpha-21736

Steps:

1. launch the clean Squeak image
2. file in `EventSensor-eventTickler.st`, `Kernel-jar.1447.followUp.cs` and `R

[2022-05-25 23:41] dram commented on #159
And regarding to ProcessTest-testTerminateEnsureAsStackTop, seems that it failed in TruffleSqueak with `EventSensor-eventTickler.st` and `Kernel-jar.1447.followUp.cs` filed in.

![image](https://user-images.githubusercontent.com/517130/170385791-505af7fe-a99d-47d8-97dc-d1461ec9c369.png)

The assertion failure is caused by following line:

[code]

[2022-05-26 02:33] jvuletich commented on #159
WRT #eventTickler in Cuis, it was last tweaked in December 2021 by Andrés Valloud. There is a possible weakness in Delay. If a Delay is waiting, but its process is terminated, and then the same delay is sent #wait without checking #beingWaitedOn, the system wil hang. See senders of #wait and #beingWaitedOn in Cuis. In any case, I don't know if this has any relation with the problems when saving Sq

[2022-05-26 06:55] isCzech commented on #159
yes, sorry, I haven't realized you don't have the full set of patches... It also depends on the combination of the VM+image :)

[2022-05-26 07:13] isCzech commented on #159
Hi @dram, at this point it shouldn't matter whether you apply Kernel-jar.1447.followUp.cs and RevisedSuspend.2.cs because they have nothing to do with the issue. Could you please tell me whether the problem persists when you apply only the EventSensor-eventTickler.st patch? (with the recent Squeak image indeed) ?

Does it mean that the problem disappeared on Windows 10 and possibly some other scen

[2022-05-26 07:25] isCzech commented on #159
Thank you @jvuletich for your thoughts. I noticed you refactored EventSensor in December and Andre tweaked the eventTickler and I wondered whether you discovered some problem/bug you were fixing or just improving things proactively :)

Here is for sure an interplay between the eventTickler and termination and I guess it's exactly what you say but I didn't go as deep as to fully understand it yet :

[2022-05-26 09:44] isCzech commented on #159
Hi @dram,

Oops, apologies, I forgot to replace the line `top runUntilReturnFrom: ctx` you suggested while testing the eventTickler "fix" so no, the eventTickler "fix" isn't a fix :) I'll keep looking...

[2022-05-26 11:43] LinqLover opened #166 "Crash when triggering polyglot delay (scheduler could not find a runnable process)"
The following expression crashes the GraalVM for me:

[code]

<details><summary>Stack trace</summary><pre><code>(I cut away the remaining trace)
== Truffle stack trace ===========================================================
MorphicProject>>recursiveError: #(a MorphicProject @4619cb14, 'PolyglotError: de.hpi.swa.truf...' (string length: 128)) [marker: FrameMarker@27107a97, context: CTX MorphicP

[2022-05-26 12:01] LinqLover opened #167 "Higher-priority processes are not scheduled"
The following

[code]

blocks my entire image for 10 seconds, the UI process does not get scheduled before the busy wait is over. In the OSVM, this works, however.

Does the implementation of `busyWait` has a suspension point or is this accidental behavior of the OSVM? I could not find an official definition of suspension points, unfortunately ...

However, even if I modify `#busyWait` and insert

[2022-05-26 12:56] dram commented on #159
Based on `ProcessTest-testTerminateEnsureAsStackTop`, I constructed a simplified test, which reveals something interesting regarding to TruffleSqueak.

Printing following code in Workspace, in Squeak and Cuis running under OpenSmalltalk VM, both return `reached here`.

[code]

Printing previous code in Squeak6.0alpha-21736 under TruffleSqueak 22.1.0, a `nil` is returned, with following message in

[2022-05-26 13:17] isCzech commented on #159
Hi @dram, the test ProcessTest-testTerminateEnsureAsStackTop requires the new #terminate method, however, the Kernel-jar.1447.followUp.cs version of #terminate is a simplified version requiring the latest OpenSmalltalk VM implementing the new #suspend primitive 578 - this setup should be the default in the new release. Unfortunately I gave you this simplified version before I realized GraalVM does

[2022-05-26 13:28] dram commented on #159
Hi @isCzech, according to the test case I mentioned in previous comment https://github.com/hpi-swa/trufflesqueak/issues/159#issuecomment-1138547121, Cuis's `#terminate` is also broken with TruffleSqueak, it will crash the VM.

[2022-05-26 13:46] isCzech commented on #159
True, this `[trufflesqueak] Unwind error: ...` in both cases is weird but I can't say what it means; I guess it's related to the TruffleSqueak VM which I know nothing about :)

[2022-05-26 19:27] isCzech commented on #159
Hi @dram, I have some preliminary results:
1) I've fixed the test `ProcessTest-testTerminateEnsureAsStackTop`, you had a good hunch something was wrong - it was supposed to work with the change you suggested (`top runUntilReturnFrom: ctx`); check this:
[ProcessTest-testTerminateEnsureAsStackTop-fixed.zip](https://github.com/hpi-swa/trufflesqueak/files/8781407/ProcessTest-testTerminateEnsureAsStack

[2022-05-26 23:55] dram commented on #159
Hi @isCzech,

I kind of think that the new `#terminate` may rely on some "tricky" feature in OpenSmalltak VM, which is not supported in TruffleSqueak. So there are two approaches to fix this problem:

1. tweak `#terminate` to not rely on that feature
2. add that feature to TruffleSqueak

Anyway, the first thing to do would be determine what that feature is. The error message and exception stack tr

[2022-05-27 06:57] isCzech commented on #159
Hi @dram, why would you think it may be a "tricky" feature in OpenSmalltak VM and not in the TruffleSqueak VM? ;)

One of the differences between the old and new terminate is the old terminate uses the simulation machinery (the whole unwind is simulated using `self popTo: suspendedContext bottomContext`). The new terminate on the other hand replaced all simulation with a "regular", "no simulation,

[2022-05-27 08:22] fniephaus commented on #159
Hi @dram and @isCzech,
Thanks a lot for digging into this so much. Yes, I agree: it very much looks like there is at least one bug in TruffleSqueak somewhere. However, that "somewhere" could be relatively hard to find because scheduling, in general, is rather complex and has some interesting corner cases.

What would be very helpful are very short doIts that demonstrate problems in TruffleSqueak o

[2022-05-27 09:10] isCzech commented on #159
The crucial point that makes the difference for TruffleSqueak image is the replacement @dram discovered in [this comment](https://github.com/hpi-swa/trufflesqueak/issues/159#issuecomment-1137354406). The suggested change will make TruffleSqueak work but I can't see any logical explanation why - IMO the answer lies within the TruffelSqueak VM. For OpenSmalltalk VM @dram's change has no effect and t

[2022-05-27 09:40] isCzech commented on #159
Maybe it's too soon to rule this out... Cuis image with the new terminate seems to work fine with TruffleSqueak VM in terms of saving the image (and terminating the even tickler) but @dram's observation [here](https://github.com/hpi-swa/trufflesqueak/issues/159#issuecomment-1138547121) shows there's an issue with Cuis as well.

[2022-05-27 10:08] fniephaus commented on #159
I have a hunch what's going on: `Process>>#terminate` was changed and the actual termination logic was moved into an ensure block:
[code]
It seems that the ensure block is never executed as part of the top-level unwinding logic:
https://github.com/hpi-swa/trufflesqueak/blob/a068eca13ca09ac1de50bc4572dd53333fab8718/src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/context/UnwindContex

[2022-05-27 11:19] #161 closed

[2022-05-27 11:32] isCzech commented on #159
Interesting! I wish you were right :) Cuis use the same approach; they just use a slightly different form: they use a method to get the receiver evaluated as an unwind block:
[code]
Applying it to the Squeak's #terminate at TruffleSqueak makes no difference though...

[2022-05-27 14:01] dram commented on #159
Hi @isCzech, while rethinking about `runUntilErrorOrReturnFrom:`, I realized that if the whole point of using it instead of `value` is to deal with non-local return, why not do something like following:

[code]

After this change, image saving in TruffleSqueak works with no problem.

[2022-05-27 16:23] isCzech commented on #159
Hi @dram, nice try ;)
evaluate this though:
`[[] valueWithExit] hasMethodReturn`
Yes, the whole point of using #runUntilReturn is to deal with non-local returns. They may be nested however. But it's a great experiment, thanks!

[2022-05-27 20:40] fniephaus commented on #167
`#busyWait` uses `[Time utcMicrosecondClock >= proceedTime] whileFalse`, which is a block that includes primitive calls only. Therefore, this is a different form of the issue documented in https://github.com/hpi-swa/trufflesqueak/issues/104.

[2022-05-27 20:46] LinqLover commented on #167
But `Processor yield` didn't help, so isn't there something wrong with primitiveYield?

[2022-05-27 21:37] fniephaus commented on #167
No, as you mentioned, `Processor yield` is a primitive calls as well so the loop body remains trivial in the sense that there is no actual send that would trigger a check for interrupts. As a consequence, TruffleSqueak's bytecode loop will not be interrupt until the loop is exited. In https://github.com/hpi-swa/trufflesqueak/commit/581730f9f927bdfee65fe67ee687f4cca68a4329, I prototyped an idea tha

[2022-05-28 02:33] dram commented on #159
Hi @isCzech, thanks for pointing to `valueWithExit`, really a complex story. :)

Anyway, following is another try:

1. filed in `Kernel-jar.1447.followUp.cs` and `RevisedSuspend.2.cs` into `Squeak6.0beta-21829-64bit.image`, and running under Open Smalltalk VM
2. do following change in `Context>>#unwindTo:safely:`
[code]
3. Run all tests in `KernelTests-Processes` group

All tests passed, so I'm a

[2022-05-28 07:03] isCzech commented on #159
Hi @dram, this one's even better but nope, try this:
`[ [[Processor activeProcess terminate] ensure: [1/0]] on: ZeroDivide do: [] ] fork`
You have to run unwind blocks on the original stack to make sure you won't miss exception handlers.
But you've discovered a missing test situation - thanks!

[2022-05-28 08:50] fniephaus commented on #159
I just remembered that lots of `Process`-related tests from Cuis fail or don't even terminate on TruffleSqueak:
https://github.com/hpi-swa/trufflesqueak/blob/b34dc080fc7b81b559faffe6e5df0798ece97606/src/de.hpi.swa.trufflesqueak.test/src/de/hpi/swa/trufflesqueak/test/runCuisTests.st#L12-L28

So I guess there are plenty of tests that could potentially help find the bug(s) in TruffleSqueak.

[2022-05-28 09:01] isCzech commented on #159
These are the tests added to complement the new (fixed/extended) termination logic introduced last year. They should work with newer Squeak or Cuis images...

[2022-05-28 12:37] fniephaus commented on #166
Evaluating process-switching Smalltalk code on top of other languages (Python in this example) is not (yet) supported. I'm not sure it can ever be supported correctly across languages as Smalltalk uses continuations for execution and not all languages support that. For your example to work, Python stack frame would need to be persisted before yielding back to the UI process. There's no way to do t

[2022-05-28 12:39] fniephaus commented on #167
Maybe you are right though, not sure why primitiveYield doesn't resolve the problem. Looks like I may need to take another look at the primitive.

[2022-05-28 14:51] dram commented on #159
Hi @isCzech,

For the exception case, it can be fixed in this way:

[code]

But it will be failed for following case, which is based on your version, with more nested `ensure:`:

[code]

Need more investigation.

[2022-05-28 15:26] dram commented on #159
Found the problem, `fireHandlerActionForSignal:` should be used instead of `handleSignal:`, i.e.:

[code]

For this version, all tests in `KernelTests-Processes` group are passed under Open Smalltalk VM, and image saving works under TruffleSqueak.

[2022-05-28 16:48] isCzech commented on #159
Interesting solution... You're searching for handlers on two disjointed stacks instead of joining the stacks :) I wonder what would happen in case of more complicated exceptions like chained outer or other crazy scenarios though. It seems to me joining stacks and executing on the joint stack is what the methods have been developed and tested for. Not saying it wouldn't work, just that it'd require

[2022-05-29 07:33] fniephaus commented on #167
Nope, my first comment was correct: you put the yield into busyWait and not into the block itself. Since the block contains no actual sends and no explicit yield, the bytecode loop is not excited until the timer expires. So indeed, we need to make sure to check for interrupts in such trivial loops.

[2022-05-29 08:07] dram commented on #159
Hi @isCzech,

While experiment with exceptions and `#terminate`, I find following DoIt will raise a `BlockCannotReturn` exception in Open Smalltalk VM, both with and without your patches, as `#cull:` is used indirectly in `Context>>#handleSignal:`:

[code]

After some more investigation, I kind of think that it may be hard or impossible to make `#terminate` do right for all situations, as there ar

[2022-05-29 08:23] isCzech commented on #159
Hi @dram,
but raising the `BlockCannotReturn`  ***is*** the right thing :) The non-local return ^nil is trying to return to a _different_ thread (i.e. to the UI thread) which is a functionality (currently) prohibited in Smalltalk. In theory such scenarios could work but it would need to be implemented.

Saving is overrated ;)

[2022-05-29 09:37] isCzech commented on #159
@dram, try `[^2] fork` - same thing...

[2022-05-29 13:18] dram commented on #159
Hi @isCzech, that makes sense, thanks!

[2022-05-30 08:11] isCzech commented on #159
Hi @fniephaus, I wonder if you found something interesting :) I guess it's worth finding out what's causing the irregular behavior but in any case we can try to replace the line `top runUntilReturnFrom: ctx` as per @dram's suggestion (nice observation!) in Squeak's implementation.

[2022-05-30 14:15] fniephaus commented on #159
The problem in TruffleSqueak is indeed that the top-level unwinding logic neither handles `#aboutToReturn:through:` nor `#cannotReturn:`. I have something running (can save image without generating orphan processes) but I need more time to make things work (there are some edge cases that the OSVM doesn't have to deal with).

So from the TruffleSqueak side, there is no requirement how things should

[2022-05-30 15:29] marceltaeumel commented on #159
It's merged now.

[2022-05-31 11:57] #164 closed

[2022-06-07 09:44] fifthmonk opened #168 "No GUI shows up after loading TruffleSqueak-22.1.0.image on GraalVM CE 22.1"
Nothing show up after loading the TruffleSqueak-22.1.0.image. I have no issue if running in headless mode. My machine is running on Mac OS 12.4 (x64).

[2022-06-11 00:23] fifthmonk commented on #168
Please find the 2 console outputs below for your reference:

trufflesqueak --headless --code "1 + 2 * 3"
[trufflesqueak] Running TruffleSqueak-22.1.0.image on GraalVM CE (latency mode)...
[trufflesqueak] Image loaded in 1242ms.
[trufflesqueak] Evaluating '1 + 2 * 3'...
[trufflesqueak] Result: 9

trufflesqueak --headless --code "Smalltalk allClasses size"
[trufflesqueak] Running TruffleSqueak-22.1.

[2022-06-11 19:27] fniephaus commented on #168
What does the output look like when you run without arguments / in headful mode? Also, could you try with GraalVM 22.0.0? Does TruffleSqueak 22.0.0 show a GUI?

[2022-06-11 21:29] fifthmonk commented on #168
It does show the GUI if running with GraalVM 22.0.0.2. If running GraalVM 22.1

[2022-06-12 08:34] fniephaus commented on #168
That's good to know! So it looks like there's a regression in 22.1.

Is there a `SqueakDebug.log` in the `graalvm-ce-java11-22.1.0/languages/smalltalk/resources` directory of your 22.1 installation? You can find the directory with `dirname "$(trufflesqueak --print-image-path)"`. If there's a `SqueakDebug.log`, could you please share it here?

[2022-06-12 13:27] fniephaus commented on #159
Thanks again everyone for the detailed analysis around the new process termination logic and for ultimately helping to improve TruffleSqueak!

I have managed to fix saving of `Squeak6.0beta` images in TruffleSqueak. As mentioned before, TruffleSqueak neither send `#aboutToReturn:through:` nor `#cannotReturn:` when unwinding the stack on the top level. In case anyone is interested, here are the cha

[2022-06-12 13:27] #159 closed

[2022-06-12 14:19] dram commented on #159
Fix confirmed, thanks!

[2022-06-13 21:27] fniephaus opened #169 "Use `EconomicMap.emptyMap()`"
Revert https://github.com/hpi-swa/trufflesqueak/commit/41729d60b80a19763b365e9e6f85e016b6d11120 after upgrading to 22.2.

[2022-06-14 08:46] fifthmonk commented on #168
Unlike 22.0.0.2, there is no SqueakDebug.log file can be found under the directory /Library/Java/JavaVirtualMachines/graalvm-ce-java17-22.1.0/Contents/Home/languages/smalltalk/resources

[2022-06-14 19:10] fniephaus commented on #168
Thanks for following up. I managed to reproduce this on macOS and traced it down to the language library launcher. Apparently, it does not allow AWT to function properly. I'm looking into a fix for the 22.2 release.

[2022-07-07 17:46] psvensson opened #170 "Network unavailable"
I've donlnoaded and started the latest version (TruffleSqueak-22.1.0.image) running under GraalVm for OpenJDk 17 on Linux Mint 20.2.

It starts fine and I can run som eexamples, but as soon as I try to do anything involving the network (like starting a monitcello installer), the image hangs and eventually produces a debugger where it's obvious that the result was nil.

[2022-07-08 07:34] fniephaus commented on #170
Hi @psvensson, thanks for raising this. Unfortunately, TruffleSqueak's implementation of the SocketPlugin is currently incomplete and still has a few issues, so it is not surprising that some networking tasks fail. The problem is that we're emulating what the SocketPlugin does using [Java NIO](https://github.com/hpi-swa/trufflesqueak/pull/21) and that's not always working.

Ultimately, it would be

[2022-07-08 07:44] psvensson commented on #170
Hi Fabio, thanks for the quick reply. OK, but then it is a  known issue and you also know where it can be fixed. I know a bit of Smalltalk and a bit of Java, but not much about GraalVM or indeed truffleSqueak. I will probably fail but will see what I can do :)

I do not know Python so would start to see if I could find a good enough solution fixing existing bugs / implementing what needs to implem

[2022-07-08 08:07] fniephaus commented on #170
Yes, it is a known issue. It just never was pressing enough to fix because, well, you can do networking via interop with Ruby or other programming languages. :wink:

I don't think you need to know much about Python. GraalPython is, just like TruffleSqueak, implemented in Java using Truffle.
What you could do is copy over the [`PosixSupportLibrary`](https://github.com/oracle/graalpython/blob/f086f8

[2022-07-08 11:49] psvensson opened #171 "The type jdk.internal.module.Modules is not accessible - error when compiling"
I've configured Eclipse (latest) with openjdk 17 on Linux Min 20.2 and everything seems OK except that I get an error in	ReflectionUtils.java	----> /de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/util

When searching, I see that this problem was fond and fixed in 2019 (for GraalVM); https://bugs.openjdk.org/browse/JDK-8230680
But wouldn't that mean that things should work now? Or is there s

[2022-07-08 13:19] fniephaus commented on #171
This is the first time I am seeing this error. For development, you certainly need a LabsJDK for your platform. You can get one via `mx fetch-jdk`. Also, I'm mostly building with `mx build` (or `mx --env trufflesqueak-jvm build`) using a LabsJDK 11. Moreover, there is `mx eclipseinit`, which creates Eclipse project files for you that you can import. Everything else is not really supported.

[2022-07-08 13:47] psvensson commented on #171
I did actually just use a standard JDK in the beginning, but then started again with an mx-installed proper jdk, but in the end I wound up with the exact same error/problem.

However, I was able to build using just ../mx/mx build, so that did work (I also set JAVA_HOME tot he mx-installed jdk beforehand).

I will try to use the CLI way of working then, but I think it would be good if you revisited

[2022-07-09 08:00] psvensson commented on #170
Just thought I could post my proceedings here, for reference.

I have been bale to compile from command-line both GraalVM and truffleSqueak according to instructions, using the proper JVM downloaded by mx.

It then did prove possible to connect eclipse as a remote debugger (using an already defined target for this - thanks) to connect to a truffleSqueak instance using according to the development

[2022-07-09 09:36] psvensson commented on #170
Hmm, I might juts as well have started properly inside truffleSqueak, though, as when I look more closely, it does actually receive data, the main problem seems to be that the connection is closed before data is fully read, or that it thinks so.

It might be that some parts of the TCP plugin does not handle the final part of data being received and/or explicitly close the connection beforehand.

!

[2022-07-09 10:20] fniephaus commented on #170
Great that you're able to dive into networking in TruffleSqueak!

I remember that there are some issues with certain websites. I just had a quick look and the non-SSL version of the website seems to work fine (`WebClient httpGet: 'http://dn.se'`). Maybe this has also something to do with the `SqueakSSL` plugin?

In case you only need to send some simple http requests, you can also implement a subc

[2022-07-09 10:30] psvensson commented on #170
Ahaa, good catch! yes, this seems to be just about https indeed. It might be SqueakSSL, but I also saw some comments in the SecureSocketStream, which says:

[code]

[2022-07-10 12:28] psvensson commented on #170
Silly question, but what is the easiest way to get some logging output from the Java/vm code? I tried something like this;

protected final boolean isDataAvailable() throws IOException {
        selector.selectNow();
        final Set<SelectionKey> keys = selector.selectedKeys();
        System.out.println("isDataAvailable keys length = " + keys.size());
        for (final SelectionKey key : keys)

[2022-07-10 12:35] fniephaus commented on #170
Not a silly question at all, looks like we haven't documented this yet. You've seen the [list of loggers](https://github.com/hpi-swa/trufflesqueak/blob/c99d6f23329a9d09a3c3a03c4442c57bd20ffc31/src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/util/LogUtils.java#L20-L29), and the way you use enable is like this:

[code]

[2022-07-10 12:48] psvensson commented on #170
Thanks!
OK, hmm. I do not see any output anywhere when I do that (even with the ALL option).

Also, I tried to do --log.java.level=ALL but nothing happened with that either. It sounded like it should work and I am 100% for this, but more magic is needed, apparently

[2022-07-10 12:50] psvensson commented on #170
For the ongoing research I'm now fairly convinced that the culprit is the SqueakSocket::isDataAvailable method in teh plugin, which I think does not flag that data is available when it is.

[2022-07-10 13:05] fniephaus commented on #170
Can you check that `--log.smalltalk.primitives.level=ALL` or some other logger works for you? Are you sure you're running the code that you are seeing? It's sometimes easy to forget to rebuild with `mx`.

BTW, I recommend something like this:
[code]

Bonus points for setting `$GRAALVM_HOME` to your `/path/to/graal/sdk/latest_graalvm_home`, which allows you to use this instead:
[code]

[2022-07-10 13:07] fniephaus commented on #170
and this would let you run with the Java debugger:
[code]

[2022-07-10 13:17] psvensson commented on #170
Aha!  Wow, of course. I had all the time happily just started trufflesqueak without specifying which one, so of course I ran the earlier installation of trufflesqueak in my classpath from when I downloaded it while trying things out.

Now, when I correctly start using the following line;

 `$GRAALVM_HOME/bin/trufflesqueak --vm.Xrunjdwp:transport=dt_socket,server=y,address=8000,suspend=y ../../../I

[2022-07-10 15:23] psvensson commented on #170
However, now that am using the correct and locally built truffleSqueak, I am starting to see a lot of DNUs for getLoopAndCount .
![image](https://user-images.githubusercontent.com/39554/178151159-6f5b60ad-ea5c-4aa6-9ca9-e5355ea6f13a.png)

They appear after I've get the usual exception on not being able to go to the https site, and after that appear every time I try to do anything with a calltarget

[2022-07-10 15:37] fniephaus commented on #170
It seems like you're using the `CallTargetBrowser` without [opening the right modules for allow for introspection](https://github.com/hpi-swa/trufflesqueak/blob/c99d6f23329a9d09a3c3a03c4442c57bd20ffc31/mx.trufflesqueak/launchers/trufflesqueak#L15-L24). Note that this also only works when running with the Graal compiler.

If you don't need to use the CallTargetBrowser, I suggest you switch back to

[2022-07-10 15:44] psvensson commented on #170
Thanks a lot for the help

[2022-07-10 17:55] psvensson commented on #170
I have now run into another problem which is very confusing. I merely made the suggested changes (and changed browser), saved the image and then restarted. Now, after I start truffleSqueak and then tries to attach the Eclipse debugger, I get this;

[code]
I have tried to rebuild the truffleSqueak vm and then all of it, but to no avail. I then thought that the changes file of the image might have b

[2022-07-10 18:21] fniephaus commented on #170
It seems the image has been damanged somehow. I believe the first positional argument is the image and all following are considered image arguments. So to avoid confusion, I'd either move the log option before the image file or drop the image argument. If no image is provided, TruffleSqueak will automatically use the one in the resources directory.

To get a fresh test image, simply empty "Install

[2022-07-10 19:09] psvensson commented on #170
Thank you, that did the trick.

[2022-07-11 10:26] psvensson commented on #170
Some observations while spelunking the code;
1. When rebuilding the truffleSqueak VM, the donwloaded image gets (understandaböe) deleted and must be donwloaded anew.
2. It is only the 'test' image (option 2) which has logging enabled, so trying to set logging to anything at all while using (for example) the recommended image does not work.
3. Copying a donwloaded squeak image to a safe location an

[2022-07-11 13:58] fniephaus commented on #170
Good find, that is indeed interesting! And enjoy your vacation! I'm currently occupied with some other things anyway until the end of next week, but it'd be great to fix this at some point and happy to help as much as my time allows.

[2022-07-14 09:20] psvensson commented on #170
Since the truffleSqueak SockePlugin obviously works in some cases, I have been trying to find the difference in handling from the SqueakSSL side between going directly to https and being redirected to https. I had several great theories, but none stuck unfortunately.

I now tried other sites than the one I've been testing, and interesting things happens.

vanilla http request `WebClient httpGet: '

[2022-07-14 09:24] fniephaus commented on #170
TruffleSqueak's image and test image are based on a fixed Squeak trunk image that we haven't updated in a while. So maybe worth doing these experiments in a Squeak 6.0 release image since `WebClient` might have seen some updates?

[2022-07-14 09:51] psvensson commented on #170
Yes, that is a good idea. Actually, I was wondering how to create new truffleSqueak images and a bit about how one would go about to write the Smalltalk parts (if needed) to get truffleSqueak to work with another Smalltalk (I was thinking Pharo, for example).
If you could add some notes on that to the docs that would be great. And then I could also help out more

[2022-07-14 14:22] psvensson commented on #170
Thank you, of course i was already documented, sry :) I'll give it a try and see if anything have changed in WebClient to the better.
Also, I will of course ask in the GraalVM channels on how to install gu - still mixing projects, it seems

[2022-07-14 14:30] psvensson commented on #170
The first parts of the setup image instructions went well, but when executing the last 'setupImage' part,

`(Smalltalk at: #TruffleSqueakUtilities) setUpImage.`

 I get this exception
![image](https://user-images.githubusercontent.com/39554/179006756-fdc6f6b4-8599-4d1d-81cc-3a2ad7a11986.png)

[2022-07-14 14:37] fniephaus commented on #170
Also, I will of course ask in the GraalVM channels on how to install gu - still mixing projects, it seems

There's also a `#trufflesqueak` channel in the [GraalVM Slack](https://www.graalvm.org/slack-invitation/) where you can reach me.

(Smalltalk at: #TruffleSqueakUtilities) setUpImage.
I get this exception

I'm not surprised, but this is not too much of a problem because it's setting up some wo

[2022-07-14 14:38] psvensson commented on #170
This is excellent stuff! Could you please add this to the existing documentation, I think it would be really helpful to have it all in one place (and so one can search for it also).

OK, now I need to make a choice hmmm :)

[2022-07-14 14:45] psvensson commented on #170
NP, I'll make a small PR of an edited version of your text, to the development documentation

[2022-07-24 14:25] psvensson commented on #170
So, hmm. I have had a bout of Covid so been under the ice for most of the week. But today I managed to fix the trufflesqueak setup utilities to work with the actual squeak 6.0 release. They have made several changes that are probably nice but completely ignores backward compatibility. It almost feels like a Pharo core dev have been working with this :) .

This fix might not be ideal, but I crated

[2022-07-24 15:14] fniephaus commented on #170
Oh, I hope you are better now! Thanks for the PR!

That's great news, thanks for checking! According to the [Squeak/Smalltalk 6.0 release notes](https://raw.githubusercontent.com/squeak-smalltalk/squeak-app/squeak-trunk/release-notes/6.0), `WebClient` has received some bug fixes and improvements... always good if the problem turned out to be fixed somewhere else. :)

We'll upgrade to the 6.0 relea

[2022-07-24 15:30] psvensson commented on #170
I am, thanks! Yes, this has been a bit of a surprising ride, but it all ended well.
Please let me know if there is anything else you need from me to close this ticket. And also looking forward to any changes need to the image PR. I haven't looked at everything so I don't feel I have the full picture

[2022-07-24 15:43] #168 closed

[2022-07-24 15:45] #169 closed

[2022-07-24 15:48] fniephaus commented on #170
Good! I'm keeping this open until we've adopted the 6.0 release. The most work is going to be updating the test map in [`test.properties`](https://github.com/hpi-swa/trufflesqueak/blob/bcfb6ce4abe2ffae760c03d19a4ffa09903500ad/src/de.hpi.swa.trufflesqueak.test/src/de/hpi/swa/trufflesqueak/test/tests.properties). [`testTestMapConsistency`](https://github.com/hpi-swa/trufflesqueak/blob/a289d9d8d607c0

[2022-07-24 17:03] psvensson commented on #170
OK, sounds good! I'll lick my wounds a bit until the next release then. I also had some problems using a recent dev graalVm , this dev truffleSqueak and adding node.js. Also I could not figure out a way to list the installed languages in truffleSqueak in a printable format. All I got was just remote objects. I suspect this is just a bit of missing docs (or me not finding it) but we can take that l

[2022-07-24 17:35] fniephaus commented on #170
Sure, let me know in case you run into problems and don't know how to proceed. For language names, you can, for example, do this: `Polyglot availableLanguages collect: [ :ea | ea getName asString ]`.

[2022-07-24 19:00] psvensson commented on #170
OK, I will try this, thx

[2022-07-25 10:56] psvensson commented on #170
So, this is embarrassing. I have had fevers on and off and it's sometimes easy to mix things up.

The image I tested was indeed the latest 6.0 release - but it was running on a standard VM. I had just started it some days earlier trying to debug the trufflesqueak image setup process.

So o course the (now also fixed) WebClient worked when I tried it.

Now I saved the image and restarted it under m

[2022-07-25 11:17] fniephaus commented on #170
I hope you are feeling better now!

Ok, so this issue is essential still a problem?

[2022-07-25 11:24] psvensson commented on #170
A little bit, thank you.

Yes, it seems so, unfortunately.

I will try out Cuis as well (and Maybe Pharo) to see if I can get something out of that. Also, I'll start checking out how the open smalltalk VM implements things, in case something pops out.

[2022-07-25 14:05] psvensson commented on #170
Cuis seems to have the same issue, but behaves a little bit differently. It doesn't time out after 45s but instead throws an exception when the remote side closes the connection.

![image](https://user-images.githubusercontent.com/39554/180795685-b918b299-a044-4d8c-88ad-e795e6190c90.png)

I am trying to understand what needs to be installed in Pharo to make it work over truffleSqueak but I'm stuck

[2022-07-25 15:50] fniephaus commented on #170
Interesting, maybe the `SqueakSSL` plugin in TruffleSqueak doesn't claim to be done early enough and leaves the connection open.

As mentioned in https://github.com/hpi-swa/trufflesqueak/issues/170#issuecomment-1184450457, Pharo isn't as easy to support as Cuis and probably requires significantly more work than needed to fix the `SqueakSSL` plugin.

[2022-07-25 16:00] psvensson commented on #170
Yes, that could be the case.

Hmm, yes. You know that much more than I do of course, but it seems to be the need for filesystem access in the editor and should be not too difficult if so.

The reason Pharo is interesting is that is has its very own web client, as part of the Zinc Web server/client package by Sven von Caekenberg, so it would have provided an excellent triangulation vs. the Squeak a

[2022-07-25 21:50] fniephaus commented on #170
So I had some time to look into this myself. I logged a couple of things inside the image and found out that the connect primitive never returns `-1`, which signals that "More input is required". So I digged into the [SqueakSSL code](https://github.com/squeak-smalltalk/squeakssl/) and [found where](https://github.com/squeak-smalltalk/squeakssl/blob/5294be440b0535dd11648d6c041245e53f8fa388/src/unix

[2022-07-26 06:40] psvensson commented on #170
Thank you! This is awesome. Is there anything else, maybe a bit higher-level that I could help out with?

[2022-07-26 07:06] fniephaus commented on #170
Loading the TruffleSqueak image into Cuis is still on the [todo list for Cuis support](https://github.com/hpi-swa/trufflesqueak/issues/154#issue-1112950057). I'm not sure that the tools work (e.g., polyglot workspace), but the core package should. I also noticed some input issues (e.g., in Cuis or #160). That should be relatively easy to fix, you can find mouse and keyboard classes in [here](https

[2022-07-26 07:17] psvensson commented on #170
Alright, I'll do some exploring loading the TruffleSquek core stuff in Cuis and report back in that ticket.

But actually building on top of TruffleSqueak is what I came for :) I have a quite promising idea for cloud deployment that should be applicable to any cloud provider, but where I'm constantly hampered by lack of library support (gRPC, for example), so my immediate goal is to see if I can l

[2022-07-26 07:30] fniephaus commented on #170
Dependency management for polyglot applications is definitely an interesting topic!

Please note though that Node.js is usually not exposed as a polyglot language directly. You can call out to Smalltalk from within GraalVM's Node.js runtime, but I don't think you can use the programming system then. You may want to have a look at [NodeJVM](https://github.com/mikehearn/nodejvm) although it's a bit

[2022-07-26 07:44] psvensson commented on #170
OK, I'm not sure I understand. Wouldn't I be able to install node.js as a graalvm language, so it would be available symmetrically to smalltalk and (let's say) python?

[2022-07-26 07:56] fniephaus commented on #170
Yes, that's correct. The problem is that Node.js is a framework built on top of JavaScript. While you can interop with JavaScript, GraalVM doesn't allow you to interop with Node.js, e.g., using npm packages. I'm still hoping this will be supported at some point, but it's a bit tricky because apparently, Node.js has its own main loop.

[2022-07-27 10:30] psvensson commented on #170
Cuis is quite very much different when it comes to code loading. I think I withdraw my offer for now :) Maybe better to focus on learning how to do polyglot stuff in a more narrow context first.

When reading the graal node.js documentation I had hoped that it would be possible to use node.js full-out. And I assume that it is possible if you start out with node. Graal can run node.js and npm t.c.